<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Enter your bank details
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="check-answers">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back
    </a>
</div>

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="nhsuk-error-summary__body">
              
              <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
                <li>
                  <a href="#sortone">Enter the sort code</strong></a>
                </li>
              </ul>
            </div>
        </div>

		<h1 class="nhsuk-u-margin-bottom-4">
			Set up a Direct Debit
		</h1>

		<div class="nhsuk-card">
			<div class="nhsuk-card__content">
				<h3 class="nhsuk-card__heading">
					All information below must be read out to the customer.
				</h3>
			</div>
		</div>

		<h2>Enter your bank details</h2>
		<p>
			Equifax will perform a check to verify the bank account details you give us. A record of this will be left on your credit record for 12 months but will not affect your credit rating.
		</p>

		<form action="/v5/option-two-one/direct-debit/bank-details" method="post">
			<div class="nhsuk-form-group">
				<label class="nhsuk-label" for="input-width-20">
					Account holder's name
				</label>
				<input class="nhsuk-input nhsuk-input--width-20" id="accountname" name="account-holder" type="text">
			</div>

			<div class="nhsuk-form-group">
				<label class="nhsuk-label" for="input-width-20">
					Account number
				</label>
				<input class="nhsuk-input nhsuk-input--width-20" id="accountnumber" name="account-number" type="text">
			</div>

      		<div class="nhsuk-form-group nhsuk-form-group--error">
				<fieldset class="nhsuk-fieldset" aria-describedby="sort-code-label" role="group">
					<legend class="nhsuk-fieldset__legend nhsuk-label">
						<h1 class="nhsuk-fieldset__heading" id="sort-code-label">
							Sort code
						</h1>
					</legend>
                    <span class="nhsuk-error-message" id="sort-error">
                        <span class="nhsuk-u-visually-hidden">Error:</span> Enter the sort code
                    </span>
				
					<div class="nhsuk-date-input" id="sortCode">
						<div class="nhsuk-date-input__item">
							<div class="nhsuk-form-group">           
								<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--error nhsuk-input--width-2" id="sortone" name="sort-one" type="text" pattern="[0-9]*" inputmode="numeric" aria-labelledby="sort-code-label">
							</div>
						</div>

						<div class="nhsuk-date-input__item">
							<div class="nhsuk-form-group">
							<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--error nhsuk-input--width-2" id="sorttwo" name="sort-two" type="text" pattern="[0-9]*" inputmode="numeric" aria-labelledby="sort-code-label">
							</div>
						</div>
						
						<div class="nhsuk-date-input__item">
							<div class="nhsuk-form-group">
							<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--error nhsuk-input--width-2" id="sortthree" name="sort-three" type="text" pattern="[0-9]*" inputmode="numeric" aria-labelledby="sort-code-label">
							</div>
						</div>
					</div>
				</fieldset>
			</div>

			<details class="nhsuk-details">
			<summary class="nhsuk-details__summary">
				<span class="nhsuk-details__summary-text">
				View the Direct Debit Guarantee
				</span>
			</summary>

			<div class="nhsuk-details__text">
				<img src="https://www.guhg.co.uk/wp-content/uploads/2018/11/direct-debit-website-992x561-e1542983967438-1140x720.png" width="200px" alt="Picture of DD logo" style="display:block; margin-bottom: 10px; mix-blend-mode: multiply;">
				<h3>The Direct Debit Guarantee</h3>
				<ul>
					<li>This Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.</li>
					<li>If there are any changes to the amount, date or frequency of your Direct Debit NHSBSA PECS will notify you 10 working days in advance of your account being debited or as otherwise agreed. If you request NHSBSA DECS to collect a payment, confirmation of the amount and date will be given to you at the time of the request.</li>
					<li>If an error is made in the payment of your Direct Debit, by NHSBSA DECS or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society./li>
					<li>If you receive a refund you are not entitled to, you must pay it back when NHSBSA DECS asks you to.</li>
					<li>You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify us.</li>
				</ul>
			</div>
			</details>

			<p>Direct Debit set-up to be confirmed on the next page.</p>

			<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
				Continue
			</button>
  		</form>
		
		<p><a href="/v5/option-two-one/view-pcn">Cancel</a></p>
	</div>

	<div class="nhsuk-grid-column-one-half">
		<div class="border-box">
			<div class="nhsuk-grid-row">
				<div class="nhsuk-grid-column-full">
					<h1 class="nhsuk-heading-m">PCN 06183129565: Open</h1>
				</div>
			</div>

			<dl class="nhsuk-summary-list  nhsuk-u-margin-bottom-6">
				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
					Name
					</dt>
					<dd class="nhsuk-summary-list__value">
					Joe Bloggs
					</dd>
					<dd class="nhsuk-summary-list__actions">
				</dd>
				</div>
				
				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
					Address
					</dt>
					<dd class="nhsuk-summary-list__value">
					9 Hotspur Street<br>Townford<br> NE10LD
					</dd>
					<dd class="nhsuk-summary-list__actions">
				</dd>
				</div>
				
				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
					Email address
					</dt>
					<dd class="nhsuk-summary-list__value">
					<p>joe.blogss@example.com</p>
					</dd>
					<dd class="nhsuk-summary-list__actions">
				</dd>
				</div>
				
				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
					Telephone number
					</dt>
					<dd class="nhsuk-summary-list__value">
					<p>07700 900362</p>
					</dd>
					<dd class="nhsuk-summary-list__actions">
				</dd>
				</div>
	
				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
					Date of birth
					</dt>
					<dd class="nhsuk-summary-list__value">
					20 November 1988
					</dd>                   
					<dd class="nhsuk-summary-list__actions">
					</dd>
				</div>
	
				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
					NHS number
					</dt>
					<dd class="nhsuk-summary-list__value">
						23141986
					</dd>
						<dd class="nhsuk-summary-list__actions">
					</dd>
				</div>
			</dl>

			<div class="nhsuk-grid-row">
				<div class="nhsuk-grid-column-full">
					<div class="container">
					<ul class="tabs1">
						<li class="tab-link current1" data-tab1="tab-1">PCN details</li>
						<li class="tab-link" data-tab1="tab-2">Notes</li>
						<li class="tab-link" data-tab1="tab-3">Transactions</li>
					</ul>

					<!-- PCN DETAILS -->
					<div id="tab-1" class="tab1-content current1">
						<div class="nhsuk-grid-row">
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescription</h2>
							<p>£26.40</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Enquiry sent</h2>
							<p>not sent</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Items</h2>
							<p>3</p>
						</div>
					</div>
		
					<div class="nhsuk-grid-row">
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Penalty</h2>
							<p>£100.00</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">PCN sent</h2>
							<p>10/09/18</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescribed date</h2>
							<p>29/05/18</p>
						</div>
					</div>
		
					<div class="nhsuk-grid-row">
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge</h2>
							<p>£50.00</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge sent</h2>
							<p>10/10/18</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispensed month end date</h2>
							<p>30/06/18</p>
						</div>
					</div>
		
					<div class="nhsuk-grid-row">
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Requested</h2>
							<p>£176.40</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Respond by</h2>
							<p>07/11/18</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Exemption</h2>
							<p>(M) Has valid NHS Tax Credit Exemption Certificate</p>
						</div>
					</div>
		
					<div class="nhsuk-grid-row">
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Paid</h2>
							<p>£10.00</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">DWP checked</h2>
							<p>Yes</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
							<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Source</h2>
							<p>Electronic</p>
						</div>
					</div>
		
					<div class="nhsuk-grid-row">
						<div class="nhsuk-grid-column-one-third">
						<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Balance due</h2>
						<p>£166.40</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
						<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispenser</h2>
						<p>FMMMM</p>
						</div>
						<div class="nhsuk-grid-column-one-third">
						<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Evidence not seen?</h2>
						<p>No</p>
						</div>
					</div>
					</div>

					<!-- NOTES -->
					<div id="tab-2" class="tab1-content">
						<table class="internal-table">
							<thead>
							<tr>
								<th>Date</th>
								<th>User</th>
								<th>Amount</th>
								<th>For</th>
								<th>Type</th>
								
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>31/07/17 15.45</td>
								<td>System</td>
								<td>-£8.60</td>
								<td>Adjustment</td>
								<td>Direct Debit</td>
								
							</tr>
							<tr>
								<td>30/07/17 15.45</td>
								<td>System</td>
								<td>£8.60</td>
								<td>PCN</td>
								<td>Direct Debit</td>
								
							</tr>
							<tr>
								<td>27/07/17 13.30</td>
								<td>System</td>
								<td>£51.00</td>
								<td>PCN</td>
								<td>Cheque</td>
								
							</tr>
							<tr>
								<td>27/07/17 13.30</td>
								<td>System</td>
								<td>-£51.00</td>
								<td>Surcharge</td>
								<td>Surcharge added</td>
								
							</tr>
							<tr>
								<td>27/07/17 13.30</td>
								<td>System</td>
								<td>£58.60</td>
								<td>PCN</td>
								<td>Payment request</td>
								
							</tr>
							</tbody>
						</table>
					</div>
	
					<!-- TRANSACTIONS -->
					<div id="tab-3" class="tab1-content">
						<table>
							<thead>
							<tr>
	
									<th>Date</th>
									<th>Agent</th>
									<th>Comments</th>
	
							</tr>
							</thead>
	
							<tbody>
							<tr>
								<td>27/07/2017 13.00</td>
								<td>Tim</td>
								<td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
							</tr>
							<tr>
								<td>27/07/2017 13.30</td>
								<td>Joanne</td>
								<td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
							</tr>
							<tr>
								<td>27/07/2017 13.00</td>
								<td>Tim</td>
								<td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
							</tr>
							<tr>
								<td>27/07/2017 13.30</td>
								<td>Joanne</td>
								<td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
							</tr>
							<tr>
								<td>27/07/2017 13.30</td>
								<td>Joanne</td>
								<td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
							</tr>
							<tr>
								<td>27/07/2017 13.30</td>
								<td>Joanne</td>
								<td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
							</tr>
	
							</tbody>
						</table>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}