<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription image
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <a class="nhsuk-secondary-navigation__link" href="view-pcn">Back</a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-one-half">
      <h1 class="nhsuk-heading-l">Prescription image</h1>
      <img class="nhsuk-image__img" src="/images/example-prescription-front.jpg" alt="an example of the front of a prescription" />
   </div>
</div>

{% endblock %}