<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Set up a Direct Debit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="/v4/view-pcn">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back
    </a>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <h1 class="nhsuk-u-margin-bottom-4">
            Set up a Direct Debit
        </h1>
        <div></div>

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                All information below must be read out to the customer.
          
              </h3>
              
          
            </div>
          </div>

        

        <p>Direct Debit lets you pay your penalty charge over a number of months, on a date that suits you.</p>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>If we are unable to take a payment, you may have to pay extra charges.</p>
            <p>If we are unable to take payments on more than one occasion, your Direct Debit plan may be cancelled and you may need to pay the amount you owe in full.</p>
        </div>

        <form>
            {{ checkboxes({
                "idPrefix": "dd-confirmation",
                "name": "confirm",
                "values": data["confirm"],
                "fieldset": {
                  "legend": {
                    "text": "You must confirm the following to setup a Direct Debit online",
                    "classes": "nhsuk-fieldset__legend--l",
                    isPageHeading: false
                  }
                },
                "items": [
                  {
                    "value": "bank",
                    "text": "I'm using my own bank account"
                  },
                  {
                    "value": "person",
                    "text": "I'm the only person required to authorise debits from this account"
                  },
                  {
                    "value": "understand",
                    "text": "I understand that if you are unable to take payments on more than one occasion, I might have to pay extra charges and may not be able to pay by Direct Debit again"
                  }
                ]
              }) }}
        </form>

        <p>Read the <a href="https://www.directdebit.co.uk/direct-debit-explained/direct-debit-guarantee/" target="_blank" title="External website">Direct Debit Guarantee</a>.</p>

        <a href="monthly-options" class="nhsuk-button" role="button">Continue</a>
        <p><a href="/v4/view-pcn">Cancel</a></p>
    </div>

    <div class="nhsuk-grid-column-one-half">
        <div class="border-box">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h1 class="nhsuk-heading-m">PCN 06183129565: Open</h1>
                </div>
            </div>

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescription</h2>
                    <p>£26.40</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Enquiry sent</h2>
                    <p>not sent</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Items</h2>
                    <p>3</p>
                </div>
            </div>

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Penalty</h2>
                    <p>£100.00</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">PCN sent</h2>
                    <p>10/09/18</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescribed date</h2>
                    <p>29/05/18</p>
                </div>
            </div>

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge</h2>
                    <p>£50.00</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge sent</h2>
                    <p>10/10/18</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispensed month end date</h2>
                    <p>30/06/18</p>
                </div>
            </div>

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Requested</h2>
                    <p>£176.40</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Respond by</h2>
                    <p>07/11/18</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Exemption</h2>
                    <p>(M) Has valid NHS Tax Credit Exemption Certificate</p>
                </div>
            </div>

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Paid</h2>
                    <p>£10.00</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">DWP checked</h2>
                    <p>Yes</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Source</h2>
                    <p>Electronic</p>
                </div>
            </div>

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Balance due</h2>
                    <p>£166.40</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispenser</h2>
                    <p>FMMMM</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Evidence not seen?</h2>
                    <p>No</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}