{% extends 'layout.html' %}

{% set title = 'Review your penalty charge' %}

{% set freeStuff = 'free NHS prescriptions' %}
{% if data.settings[version].type === 'decs' %}
  {% set freeStuff = 'free or reduced cost NHS dental treatment' %}
{% endif %}

{% block pageTitle %}
    {{ title }}
{% endblock %}


{% block beforeContent %}
    {{ backLink({
        text: 'Go back',
        href: 'javascript:history.back();'
    }) }}
{% endblock %}


{% block content %}




<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">{{ title }}</h1>


    {% set errorMessageText = 'Select that you confirm and accept your penalty charge' %}

    {% if data.showErrors === 'true' %}
        {{ errorSummary({
        titleText: 'There is a problem',
        errorList: [
                {
                    text: errorMessageText,
                    href: '#acceptPCNDeclarationB-1'
                }
            ]
        }) }}
    {% endif %}


        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
 

            <h3 class="nhsuk-heading-m">Penalty Charge Notice amount</h3>

            {% if data.settings[version].type === 'decs' %}

                <!-- DECS -->
                {% set summaryListRows = [
                    {
                      key: { text: 'Dental treatment charges' },
                      value: { text: '£75.30' }
                    },
                    {
                      key: { text: 'Penalty charge' },
                      value: { text: '£50.00' }
                    },
                    {
                      key: { text: 'Total amount to pay' },
                      value: { html: '<strong>£125.30</strong>' }
                }]%} 

                {{ summaryList({
                    rows: summaryListRows
                }) }}

                <p class="nhsuk-heading-l nhsuk-u-margin-bottom-0">Amount to pay: £125.30</p>

            {% else %}

                <!-- PECS -->
                {% set summaryListRows = [
                    {
                      key: { text: 'Prescription charges' },
                      value: { text: '£9.90' }
                    },
                    {
                      key: { text: 'Penalty charge' },
                      value: { text: '£50.00' }
                    },
                    {
                      key: { text: 'Total amount to pay' },
                      value: { html: '<strong>£59.90</strong>' }
                }]%} 

                {{ summaryList({
                    rows: summaryListRows
                }) }}

                <p class="nhsuk-heading-l nhsuk-u-margin-bottom-0">Amount to pay: £59.90</p>

            {% endif%}

            </div>
        </div>


        <form action="accept-pcn-EXPEDITE-v3" method="post" novalidate>


            <h2 class="nhsuk-heading-m">Do not accept the penalty charge</h2>

            <p>You still have 28 days to confirm you were entitled to {{ freeStuff }} (by {{ 28 | alterTodaysDateByNumberOfDays }}). If you can confirm this, it will resolve the issue and stop you getting a penalty charge.</p>
            <p>If you do not want to accept the penalty charge today you can still use this service to confirm you were entitled. You'll need to check the details on your enquiry letter first.</p>

            {{ actionLink({
                href: 'enquiry-letter-details',
                text: 'Go back to check the details on your enquiry letter'
            }) }}
            
            <p>If you do not confirm you were entitled to {{ freeStuff }} we will send a Penalty Charge Notice.</p>





            <h2 class="nhsuk-heading-m">Accept the penalty charge</h2>

            {{ warningCallout({
                heading: 'Important information',
                classes: 'smaller-heading',
                HTML: '<p>If you accept your penalty charge today, you must make a payment or set up a Direct Debit within 31 days. If you do not, an extra surcharge of up to £50 may be added to these charges.</p>'
            }) }}

            <p>If you accept the penalty charge today you confirm that you:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>were not entitled to {{ freeStuff }}</li>
                <li>understand that you must make a payment or set up a Direct Debit within 31 days</li>
            </ul>

            {% set errorMessage = '' %}
            {% if data.showErrors === 'true' %}
                {% set errorMessage = { text: errorMessageText } %}
            {% endif %}

            {{ checkboxes({
                idPrefix: 'acceptPCNDeclarationB',
                name: 'acceptPCNDeclarationB',
                id: 'acceptPCNDeclarationB',
                errorMessage: errorMessage,
                fieldset: {
                legend: {
                    text: 'Tick the box if you accept the following statements',
                    isPageHeading: false,
                    classes: 'nhsuk-u-visually-hidden'
                }
                },
                items: [
                    {
                        value: 'acceptCharge',
                        html: 'I confirm and accept my penalty charge'
                    }
                ]
            }) }}


            {% if data.showEmailInput === 'true' %}

                <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--m" />

                {{ input({
                    label: {
                        text: 'What is your email address? (optional)',
                        classes: 'nhsuk-label--s'
                    },
                    hint: {
                        text: 'We will use this to send you notifications and reminders about your case.'
                    },
                    inputmode: 'email',
                    id: 'emailAddress',
                    name: 'emailAddress',
                    value: data.emailAddress,
                    attributes: {
                        autocomplete: 'none'
                    },
                    classes: 'nhsuk-input--width-20'
                }) }}
                
                {{ input({
                    label: {
                        text: 'Confirm email',
                        classes: 'nhsuk-label--s'
                    },
                    id: 'confirmEmailAddress',
                    inputmode: 'email',
                    attributes: {
                        autocomplete: 'none'
                    },
                    classes: 'nhsuk-input--width-20'
                }) }}

                <style>
                    
                    .nhsuk-hidden {
                        display: none;
                    }

                </style>

                <script>

                    const ConfirmEmail = (function(){

                        function _init(){

                            const email = document.querySelector('#emailAddress');
                            const emailConfirm = document.querySelector('#confirmEmailAddress');

                            emailConfirm.parentElement.classList.add('nhsuk-hidden');

                            email.addEventListener('change', function(){

                               if( email.value.trim() !== '' ){

                                // Value exists
                                emailConfirm.value = '';
                                emailConfirm.parentElement.classList.remove('nhsuk-hidden');
                                emailConfirm.focus();

                               } else {

                                // No value
                                emailConfirm.value = '';
                                emailConfirm.parentElement.classList.add('nhsuk-hidden');

                               }

                            });
                            

                        };

                        return {
                            init: _init
                        }
                    })();

                    document.addEventListener( 'DOMContentLoaded', function(){
                        ConfirmEmail.init();
                    });

                </script>
                

                <hr class="nhsuk-section-break nhsuk-section-break--m" />

            {% endif %}



            {{ button({
                text: 'Accept penalty charge'
            }) }}

        </form>



        <p class="nhsuk-body nhsuk-u-margin-top-6"><a href="respond-to-your-letter" class="nhsuk-link">Cancel</a></p>

    


    </div>
</div>

    {% endblock %}