<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-one-half">
      <h1 class="nhsuk-u-margin-bottom-4">
         Create note
      </h1>

      <form action="view-pcn" method="POST" id="form">
         <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
               Notes
            </label>
            <textarea class="nhsuk-textarea" id="message" name="message" rows="8" style="font-size:19px;" onkeyup="countChars(this);"></textarea>
            <p class="nhsuk-hint" id="charNum">You have 2048 characters remaining</p>
         </div>

         <div class="nhsuk-form-group">
            <div class="nhsuk-checkboxes">

               <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                     Apply to open cases only
                  </label>
               </div>

               <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                     Apply to all cases
                  </label>
               </div>
            </div>
         </div>
         <button class="nhsuk-button" id="button" type="submit">Submit</button>
      </form>
      <p><a href="view-pcn">Cancel</a></p>

      

         
       
         
       
         
       
         

         

         

          

          

          
       
       
       
       </dl>
       <div class="nhsuk-card">
         <div class="nhsuk-card__content">
           <h3 class="nhsuk-card__heading">
             Personal details
           </h3>
           <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Title
              </dt>
              <dd class="nhsuk-summary-list__value">
                Mr
              </dd>
          
            </div>
            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                 First name
               </dt>
               <dd class="nhsuk-summary-list__value">
                 Joe
               </dd>
           
             </div>
           
             <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                 Last name
               </dt>
               <dd class="nhsuk-summary-list__value">
                 Bloggs
               </dd>
           
             </div>
           
             <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                 Date of birth
               </dt>
               <dd class="nhsuk-summary-list__value">
                 <p>20/11/88</p>
               </dd>
             </div>
    
             <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  NHS number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <p>23141986</p>
                </dd>
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Email address
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <p>joe.bloggs@gmail.com</p>
                </dd>
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Address line 1
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <p>1 Testing Street</p>
                </dd>
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Address line 2
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <p>Testing</p>
                </dd>
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Postcode
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <p>NE1 0LD</p>
                </dd>
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Telephone number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <p>07654321987</p>
                </dd>
              </div>
           
       
         </div>
       </div>


      

  
   
   </div>
   
   
   <div class="nhsuk-grid-column-one-half">
      <div class="border-box" id="rightHandSide">
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
               <h1 class="nhsuk-heading-m">PCN 06183129565: Open</h1> 
               
            </div>
            <!--<h1 class="nhsuk-heading-m">Direct Debit</h1>-->
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescription</h2>
               <p>£26.40</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Enquiry sent</h2>
               <p>Not sent</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Items</h2>
               <p>3</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Penalty</h2>
               <p>£100.00</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">PCN sent</h2>
               <p>10/09/18</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescribed date</h2>
               <p>29/05/18</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge</h2>
               <p>£50.00</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge sent</h2>
               <p>10/10/18</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispensed month end date</h2>
               <p>30/06/18</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Requested</h2>
               <p>£176.40</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Respond by</h2>
               <p>07/11/18</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Exemption</h2>
               <p>(M) Has valid NHS Tax Credit Exemption Certificate</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Paid</h2>
               <p>£10.00</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">DWP checked</h2>
               <p>Yes</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Source</h2>
               <p>Electronic</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Balance due</h2>
               <p>£166.40</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispenser</h2>
               <p>FMMMM</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Evidence not seen?</h2>
               <p>No</p>
            </div>
         </div>

         <div class="scrollable-panel">
            <div class="nhsuk-grid-row">
               <div class="nhsuk-grid-column-full">
                  <div class="container">
                     <ul class="tabs1">
                        <li class="tab-link current1" data-tab1="tab-2">Notes</li>
                        <li class="tab-link" data-tab1="tab-1">Transactions</li>
                     </ul>
                     <!-- TRANSACTIONS -->
                     <div id="tab-1" class="tab1-content">
                           <table class="internal-table">
                              <thead>
                                 <tr>
                                    <th>Date</th>
                                    <th>User</th>
                                    <th>Amount</th>
                                    <th>For</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>31/07/17 15.45</td>
                                    <td>System</td>
                                    <td>-£8.60</td>
                                    <td>Adjustment</td>
                                    <td>Direct Debit</td>
                                    <td><a href="#">Edit</a></td>
                                 </tr>
                                 <tr>
                                    <td>30/07/17 15.45</td>
                                    <td>System</td>
                                    <td>£8.60</td>
                                    <td>PCN</td>
                                    <td>Direct Debit</td>
                                    <td><a href="#"></a></td>
                                 </tr>
                                 <tr>
                                    <td>27/07/17 13.30</td>
                                    <td>System</td>
                                    <td>£51.00</td>
                                    <td>PCN</td>
                                    <td>Cheque</td>
                                    <td><a href="#"></a></td>
                                 </tr>
                                 <tr>
                                    <td>27/07/17 13.30</td>
                                    <td>System</td>
                                    <td>-£51.00</td>
                                    <td>Surcharge</td>
                                    <td>Surcharge added</td>
                                    <td><a href="#">Remove</a></td>
                                 </tr>
                                 <tr>
                                    <td>27/07/17 13.30</td>
                                    <td>System</td>
                                    <td>£58.60</td>
                                    <td>PCN</td>
                                    <td>Payment request</td>
                                    <td><a href="#"></a></td>
                                 </tr>
                              </tbody>
                           </table>
                     </div>
                 
                     <!-- NOTES -->
                     <div id="tab-2" class="tab1-content current1">
                        <table class="notes-table">
                           <thead>
                              <tr>
                                 <th class="nhsuk-u-font-weight-bold">Date</th>
                                 <th class="nhsuk-u-font-weight-bold">Agent</th>
                                 <th class="nhsuk-u-font-weight-bold">Comments</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>30/07/17 11.00</td>
                                 <td>TIM</td>
                                 <td>REFUND IN PROGRESS</td>
                              </tr>
                              <tr>
                                 <td>27/07/17 13.00</td>
                                 <td>TIM</td>
                                 <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                              </tr>
                              <tr>
                                 <td>27/07/17 13.30</td>
                                 <td>JOANNE</td>
                                 <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                              </tr>
                              <tr>
                                 <td>27/07/17 13.00</td>
                                 <td>TIM</td>
                                 <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                              </tr>
                              <tr>
                                 <td>27/07/17 13.30</td>
                                 <td>JOANNE</td>
                                 <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                              </tr>
                              <tr>
                                 <td>27/07/17 13.30</td>
                                 <td>JOANNE</td>
                                 <td>IINFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                              </tr>
                              <tr>
                                 <td>27/07/17 13.30</td>
                                 <td>JOANNE</td>
                                 <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   var maxLength = 375;
   $('textarea').keyup(function () {
      var length = $(this).val().length;
      var length = maxLength - length;
      $('#chars').text(length);
   });
</script>

{% endblock %}