<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <a class="nhsuk-secondary-navigation__link" aria-current="page" href="">Back</a>
                     </li>
                     <li class="nhsuk-secondary-navigation__item">
                        <a class="nhsuk-secondary-navigation__link" href="lock-pcn-reopen">Reopen
                        </a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-one-half">
      <div class="nhsuk-grid-row highlight1">
         <br>
         <div class="nhsuk-grid-column-one-half">
            <h2 class="nhsuk-heading-s">Title</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text" value="Mr">
            <p class="change-spacea"></p>
            <h2 class="nhsuk-heading-s">First name</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text" value="Joe">
            <p class="change-spacea"></p>
            <h2 class="nhsuk-heading-s">Last name</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text" value="Bloggs">
            <p class="change-spacea"></p>
            <h2 class="nhsuk-heading-s">Date of birth</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text" value="20/11/1988">
            <p class="change-spacea"></p>
            <h2 class="nhsuk-heading-s">NHS number</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text" value="23141986">
            <p class="change-spacea"></p>
            <h2 class="nhsuk-heading-s">Email address</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text">
            <p class="change-spacea"></p>
            <a class="nhsuk-button" id="search-button" href="test-screen" role="button">Save</a>
            <br>
            <br>
         </div>
         <div class="nhsuk-grid-column-one-half">
            <h2 class="nhsuk-heading-s">Address line 1</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text" value="9 HOTSPUR STREET">
            <p class="change-spacea"></p>
            <h2 class="nhsuk-heading-s">Address line 2</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text" value="TOWNFORD">
            <p class="change-spacea"></p>
            <h2 class="nhsuk-heading-s">Adress line 3</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text" value="">
            <p class="change-spacea"></p>
            <h2 class="nhsuk-heading-s">Address line 4</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text" value="">
            <p class="change-spacea"></p>
            <h2 class="nhsuk-heading-s">Postcode</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text" value="NE10LD">
            <p class="change-spacea"></p>
            <h2 class="nhsuk-heading-s">Telephone number</h2>
            <input class="nhsuk-input" id="reference-number" name="first-name-2" type="text">
            <p class="change-spacea"></p>
            <a class="nhsuk-button nhsuk-button--secondary reset-button" id="search-button" href="" role="button">Reset</a>
            <br>
            <br>
         </div>
      </div>

      <div class="nhsuk-grid-column-full-fluid">
         <div class="container">
            <ul class="tabs">
               <li class="tab-link current" data-tab="tab-3">Matches</li>
               <li class="tab-link" data-tab="tab-4">Possible matches</li>
            </ul>
            <div id="tab-3" class="tab-content current">
               <div class="makeScrollable2">
                  <table class="internal2-table">
                     <thead>
                        <tr>
                           <th>Reference</th>
                           <th>Letter type</th>
                           <th>Sent</th>
                           <th>Respond</th>
                           <th>Balance</th>
                           <th>Status</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="">23141986</a></td>
                           <td>PCN</td>
                           <td>28/5/17</td>
                           <td>28/6/17</td>
                           <td>£108.60</td>
                           <td>Open</td>
                        </tr>
                        <tr>
                           <td><a href="">323456789</a></td>
                           <td>PCN</td>
                           <td>28/4/17</td>
                           <td>28/5/17</td>
                           <td>£108.60</td>
                           <td>Closed</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div id="tab-4" class="tab-content">
               <div class="makeScrollable2">
                  <table class="internal-table">
                     <thead>
                        <tr>
                           <th>Reference</th>
                           <th>Name</th>
                           <th>D.O.B</th>
                           <th>Postcode</th>
                           <th>Status</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr class="decsRow">
                           <td><a href="#">823456789</a></td>
                           <td>Joe Bloggs</td>
                           <td>20/03/1990</td>
                           <td>NE1 0LD</td>
                           <td>Open</td>
                        </tr>
                        <tr>
                           <td><a href="#">423456789</a></td>
                           <td>Joe J Bloggs</td>
                           <td>20/03/1990</td>
                           <td>NE1 0LD</td>
                           <td>Open</td>
                        </tr>
                        <tr class="decsRow">
                           <td><a href="#">523456789</a></td>
                           <td>Joe Bloggs</td>
                           <td>20/03/1990</td>
                           <td>NE1 5LD</td>
                           <td>Open</td>
                        </tr>
                        <tr class="decsRow">
                           <td><a href="#">623456789</a></td>
                           <td>Laura Hartford</td>
                           <td>20/03/1990</td>
                           <td>NE1 0LD</td>
                           <td>Open</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="nhsuk-grid-column-one-half">
      <div class="nhsuk-grid-row highlight1">
         <h1 class="nhsuk-heading-m">PCN 06183129565: Closed <p></p><a href="prescription-image"> View prescription</a></h1>
         <!--<h1 class="nhsuk-heading-m">Direct Debit</h1>-->
         <div class="nhsuk-grid-column-one-third">
            <h2 class="nhsuk-heading-s">Prescription</h2>
            <p>£26.40</p>
            <h2 class="nhsuk-heading-s">Penalty</h2>
            <p>£100.00</p>
            <h2 class="nhsuk-heading-s">Surcharge</h2>
            <p>£50.00</p>
            <h2 class="nhsuk-heading-s">Requested</h2>
            <p>£176.40</p>
            <h2 class="nhsuk-heading-s">Paid</h2>
            <p>£10.00</p>
            <h2 class="nhsuk-heading-s">Balance due</h2>
            <p>£166.40</p>
            <!--  <h2 class="nhsuk-heading-s">Direct Debit status</h2>
                  <p>Active</p> -->
         </div>
         <div class="nhsuk-grid-column-one-third">
            <h2 class="nhsuk-heading-s">Enquiry sent </h2>
            <p>not sent</p>
            <h2 class="nhsuk-heading-s">PCN sent</h2>
            <p>10/09/2018</p>
            <h2 class="nhsuk-heading-s">Surcharge sent</h2>
            <p>10/10/2018</p>
            <h2 class="nhsuk-heading-s">Respond by</h2>
            <p>07/11/2018</p>
            <h2 class="nhsuk-heading-s">DWP checked</h2>
            <p>Yes</p>
            <h2 class="nhsuk-heading-s">Dispenser</h2>
            <a href="dispenser"> FMMMM</a>
            <h2 class="nhsuk-heading-s">Evidence not seen?</h2>
            <p>No</p>

            <!-- <h2 class="nhsuk-heading-s">Direct Debit reference</h2>
                  <p>0012345678</p> -->
         </div>
         <div class="nhsuk-grid-column-one-third">
            <h2 class="nhsuk-heading-s">Items</h2>
            <p>3</p>
            <h2 class="nhsuk-heading-s">Prescribed date</h2>
            <p>29/05/2018</p>
            <h2 class="nhsuk-heading-s">Dispensed month end date</h2>
            <p>30/06/2018</p>
            <h2 class="nhsuk-heading-s">Exemption</h2>
            <p>(M) Has valid NHS Tax Credit Exemption Certificate</p>
            <h2 class="nhsuk-heading-s">Source</h2>
            <p>Electronic</p>

            <!--<p>Electronic</p>-->
            <!-- DD set-up -->
            <!-- <h2 class="nhsuk-heading-s">Direct Debit status</h2>
                  <p>Active</p>
                  <h2 class="nhsuk-heading-s">Direct Debit reference</h2>
                  <p>0012345678</p> -->
         </div>
         <div class="nhsuk-grid-column-full">
            <div class="container">
               <ul class="tabs1">
                  <li class="tab-link current1" data-tab1="tab-2">Notes</li>
                  <li class="tab-link" data-tab1="tab-1">Transactions</li>
               </ul>
               <!-- NOTES -->
               <div id="tab-1" class="tab1-content">
                  <p><a href="pay-pcn"> Add payment</a> &nbsp;&nbsp; <a href="easement-surcharge"> Add easement</a>
                  <table class="internal-table">
                     <thead>
                        <tr>
                           <th>Date</th>
                           <th>User</th>
                           <th>Amount</th>
                           <th>For</th>
                           <th>Type</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>31/07/17 15.45</td>
                           <td>System</td>
                           <td>-£8.60</td>
                           <td>Adjustment</td>
                           <td>Direct Debit</td>
                           <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                           <td>30/07/17 15.45</td>
                           <td>System</td>
                           <td>£8.60</td>
                           <td>PCN</td>
                           <td>Direct Debit</td>
                           <td><a href="#"></a></td>
                        </tr>
                        <tr>
                           <td>27/07/17 13.30</td>
                           <td>System</td>
                           <td>£51.00</td>
                           <td>PCN</td>
                           <td>Cheque</td>
                           <td><a href="#"></a></td>
                        </tr>
                        <tr>
                           <td>27/07/17 13.30</td>
                           <td>System</td>
                           <td>-£51.00</td>
                           <td>Surcharge</td>
                           <td>Surcharge added</td>
                           <td><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                           <td>27/07/17 13.30</td>
                           <td>System</td>
                           <td>£58.60</td>
                           <td>PCN</td>
                           <td>Payment request</td>
                           <td><a href="#"></a></td>
                        </tr>
                     </tbody>
                  </table>
               </div>

               <!-- TRANSACTIONS -->
               <div id="tab-2" class="tab1-content current1">
                  <p>
                     <a href="note-pcn-info"> Add note</a>
                  </p>
                  <table>
                     <thead>
                        <tr>
                           <th>Date</th>
                           <th>Agent</th>
                           <th>Comments</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>27/07/2017 13.00</td>
                           <td>Tim</td>
                           <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                        </tr>
                        <tr>
                           <td>27/07/2017 13.30</td>
                           <td>Joanne</td>
                           <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                        </tr>
                        <tr>
                           <td>27/07/2017 13.00</td>
                           <td>Tim</td>
                           <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                        </tr>
                        <tr>
                           <td>27/07/2017 13.30</td>
                           <td>Joanne</td>
                           <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                        </tr>
                        <tr>
                           <td>27/07/2017 13.30</td>
                           <td>Joanne</td>
                           <td>NFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                        </tr>
                        <tr>
                           <td>27/07/2017 13.30</td>
                           <td>Joanne</td>
                           <td>NFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                        </tr>

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   {% endblock %}