<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Tracker
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-secondary-navigation__container">
        <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="search-page">Back</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="page-list">Reports
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">


  <!-- Change the page heading -->
  <h1>
    Tracker
  </h1>

  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Select PECS or DECS
        </h1>
      </legend>

      <div class="nhsuk-radios">

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
          <label class="nhsuk-label nhsuk-radios__label" for="example-1">
            <td><span class="nhsuk-tag nhsuk-tag--blue case-tag">PECS</span></td>
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
          <label class="nhsuk-label nhsuk-radios__label" for="example-2">
            <td><span class="nhsuk-tag nhsuk-tag--green case-tag">DECS</span></td>
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="table-scroll" id="table-scroll">
    <div class="nhsuk-table-responsive nhsuk-u-margin-top-0 table-wrap">
      <table class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table" id="sortable">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th role="columnheader" class="" scope="col">
              Service
            </th>
            <th role="columnheader" class="" scope="col">
              Reference
            </th>
            <th role="columnheader" class="" scope="col">
              Unlock date
            </th>
            <th role="columnheader" class="" scope="col">
              Lock duration
            </th>
            <th role="columnheader" class="" scope="col">
              Lock Reason
            </th>
            <th role="columnheader" class="" scope="col">
              Date lock applied
            </th>
            <th role="columnheader" class="" scope="col">
              Days till unlock
            </th>
            <th role="columnheader" class="" scope="col">
              Remove from tracker
            </th>
          </tr>
        </thead>

        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td><span class="nhsuk-tag nhsuk-tag--green case-tag">DECS</span></td>
            <td class="nhsuk-table__cell"><a href="URL-HERE">987654321</a></td>
            <td class="nhsuk-table__cell">10/11/2021</td>
            <td class="nhsuk-table__cell">28</td>
            <td class="nhsuk-table__cell">Financial harsdship (HC2)</td>
            <td class="nhsuk-table__cell">15/10/2021</td>
            <td class="nhsuk-table__cell">4</td>
            <td class="nhsuk-table__cell">
              <div class="nhsuk-checkboxes">
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
                  </label>
                </div>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td><span class="nhsuk-tag nhsuk-tag--green case-tag">DECS</span></td>
            <td class="nhsuk-table__cell"><a href="URL-HERE">120967236</a></td>
            <td class="nhsuk-table__cell">15/11/2021</td>
            <td class="nhsuk-table__cell">60</td>
            <td class="nhsuk-table__cell">Didn't get evidence</td>
            <td class="nhsuk-table__cell">16/09/2021</td>
            <td class="nhsuk-table__cell">26</td>
            <td class="nhsuk-table__cell">
              <div class="nhsuk-checkboxes">
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
                  </label>
                </div>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td><span class="nhsuk-tag nhsuk-tag--green case-tag">DECS</span></td>
            <td class="nhsuk-table__cell"><a href="URL-HERE">222345432</a></td>
            <td class="nhsuk-table__cell">16/11/2021</td>
            <td class="nhsuk-table__cell">60</td>
            <td class="nhsuk-table__cell">Applying for MEDEX</td>
            <td class="nhsuk-table__cell">17/09/2021</td>
            <td class="nhsuk-table__cell">26</td>
            <td class="nhsuk-table__cell">
              <div class="nhsuk-checkboxes">
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
                  </label>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- End of content -->








  {% endblock %}