<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Confirm and submit the Direct Debit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <h1 class="nhsuk-u-margin-bottom-4">
            Confirm and submit the Direct Debit
        </h1>

        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                Important:
              </span>
            </h3>
            <p>All information must be read out to the patient.</p>
         </div>

        <h3>Your Direct Debit details</h3>

        <p>If we are unable to take a payment, you may have to pay extra charges. If we are unable to take payments on more than one occasion, you may not be able to pay by Direct Debit in the future.</p>

        <h3>Direct Debit summary</h3>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                First payment
            </dt>
            <dd class="nhsuk-summary-list__value">
                £10.00
            </dd>
        
            </div>
        
            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                First payment taken on or just after
            </dt>
            <dd class="nhsuk-summary-list__value">
                20 April 2023
            </dd>
        
            </div>
        
            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Following 11 payments 
            </dt>
            <dd class="nhsuk-summary-list__value">
                £15.66
            </dd>
        
            </div>
        
            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Total amount
            </dt>
            <dd class="nhsuk-summary-list__value">
                £166.00
            </dd>
        
            </div>
        
        </dl>

        <p>You're responsible for making sure that payments can be taken on these dates.</p>
        
        <h3>Bank details</h3>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Account number
            </dt>
            <dd class="nhsuk-summary-list__value">
                12345678910
            </dd>
        
            </div>
        
            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Sort code
            </dt>
            <dd class="nhsuk-summary-list__value">
                12 34 56
            </dd>
        
            </div>
        
            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Account holder's name
            </dt>
            <dd class="nhsuk-summary-list__value">
                John Smith
            </dd>
        
            </div>
        
        </dl>

        <div class="bordered-content-box nhsuk-u-margin-bottom-6">
            <img class="nhsuk-image__img nhsuk-u-margin-bottom-4" src="/images/dd-logo.png" style="width: 150px;" alt="Direct Debit logo">
            <p>We will send this Direct Debit instruction to <span class="nhsuk-u-font-weight-bold">HSBC BANK PLC, Guernsey, Channel Islands</span>.</p>
            <p>Please pay the NHSBSA PECS Direct Debits from the account detailed in this instruction subject to the safeguards assured by the Direct Debit Guarantee. I understand that this instruction may remain with the NHSBSA PECS, and if so, details will be passed electronically to my Bank/Building Society.</p>
            <p>Originator:<br>NHSBSA PECS, Bridge House,<br>152 Pilgrim Street, Newcastle Upon Tyne, NE1 6SN</p>
            <p>Service User Number (SUN): 174819</p>
            <p class="nhsuk-u-margin-bottom-0">Telephone: 0300 330 9291</p>
        </div>

        <p>You must agree to the terms and conditions.</p>

        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">
                    <h1 class="nhsuk-fieldset__heading">
                    Do you agree to the terms and conditions?
                    </h1>
                </legend>
            
                <div class="nhsuk-checkboxes">                
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="agree" name="agree" type="checkbox" value="agree">
                        <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-weight-bold" for="agree">
                            I agree to the terms and conditions
                        </label>
                    </div>                
                </div>
            </fieldset>
        </div>

        <a href="complete" class="nhsuk-button" type="submit">Continue</a>
        <p><a href="/v6/view-pcn">Cancel</a></p>
    </div>
    
    <div class="nhsuk-grid-column-one-half">
        <div class="border-box" id="rightHandSide">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h1 class="nhsuk-heading-m">PCN 06183129565: Open</h1>
                </div>
            </div>

            <dl class="nhsuk-summary-list  nhsuk-u-margin-bottom-6">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Joe Bloggs
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                 </dd>
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                   9 Hotspur Street<br>Townford<br> NE10LD
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                 </dd>
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Email address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                   <p>joe.blogss@example.com</p>
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                 </dd>
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Telephone number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>07700 900362</p>
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                 </dd>
                </div>
    
                <div class="nhsuk-summary-list__row">
                   <dt class="nhsuk-summary-list__key">
                     Date of birth
                   </dt>
                   <dd class="nhsuk-summary-list__value">
                     20 November 1988
                   </dd>                   
                    <dd class="nhsuk-summary-list__actions">
                    </dd>
                 </div>
    
                 <div class="nhsuk-summary-list__row">
                   <dt class="nhsuk-summary-list__key">
                     NHS number
                   </dt>
                   <dd class="nhsuk-summary-list__value">
                      23141986
                   </dd>
                      <dd class="nhsuk-summary-list__actions">
                   </dd>
                 </div>
            </dl>

            <div class="scrollable-panel">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
            <div class="container">

                     {% set pcnContent %}
                              <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescription</h2>
               <p>£26.40</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Enquiry sent</h2>
               <p>Not sent</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Items</h2>
               <p>3</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Penalty</h2>
               <p>£100.00</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">PCN sent</h2>
               <p>10/09/18</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescribed date</h2>
               <p>29/05/18</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge</h2>
               <p>£50.00</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge sent</h2>
               <p>10/10/18</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispensed month end date</h2>
               <p>30/06/18</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Requested</h2>
               <p>£176.40</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Respond by</h2>
               <p>07/11/18</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Exemption</h2>
               <p>(M) Has valid NHS Tax Credit Exemption Certificate</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Paid</h2>
               <p>£10.00</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">DWP checked</h2>
               <p>Yes</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Source</h2>
               <p>Electronic</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Balance due</h2>
               <p>£166.40</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispenser</h2>
               <p><a href="dispenser-details">FMMMM</a></p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Evidence not seen?</h2>
               <p>No</p>
            </div>
         </div>
                     {% endset -%} 
                     {% set notesContent %}
                     {{ table({
                     responsive: false,
                     panel: false,
                     firstCellIsHeader: false,
                     head: [
                     {
                     text: "Date"
                     },
                     {
                     text: "Agent"
                     },
                     {
                     text: "Comments"
                     }
                     ],
                     rows: [
                     [
                     {
                     text: "30/11/2025 14:02"
                     },
                     {
                     html: '<strong>SYSTEM</strong>'
                     },
                     {
                     html: '<strong>Penalty Charge accepted and PCN letter issued</strong>'
                     }
                     ],
                     [
                     {
                     text: "30/09/2025 14:23"
                     },
                     {
                     text: "TIM"
                     },
                     {
                     text: "Refund in progress"
                     }
                     ],
                     [
                     {
                     text: "30/09/2025 14:15"
                     },
                     {
                     html: '<strong>SYSTEM</strong>'
                     },
                     {
                     html: '<strong>Refund requested</strong>'
                     }
                     ],
                     [
                     {
                     text: "08/09/25 11:12"
                     },
                     {
                     text: "TIM"
                     },
                     {
                     text: "Cust told to pay half to avoid surcharge. Cust non compliant, demanded manager. Call
                     escalated."
                     }
                     ],
                     [
                     {
                     text: "03/09/25 12:32"
                     },
                     {
                     text: "JOANNE"
                     },
                     {
                     text: "Info repeated as above. Cust paid half, agreed to pay next half by 27/09/25"
                     }
                     ],
                     [
                     {
                     text: "27/08/25 15:18"
                     },
                     {
                     text: "TIM"
                     },
                     {
                     text: "Cust told to pay half to avoid surcharge. Cust non compliant, demanded manager. Call
                     escalated."
                     }
                     ],
                     [
                     {
                     text: "21/08/25 12:16"
                     },
                     {
                     text: "JOANNE"
                     },
                     {
                     text: "Info repeated as above. Cust paid half, agreed to pay next half by 27/09/25"
                     }
                     ],
                     [
                     {
                     text: "19/08/25 14:02"
                     },
                     {
                     text: "TIM"
                     },
                     {
                     text: "Cust told to pay half to avoid surcharge. Cust non compliant, demanded manager. Call
                     escalated."
                     }
                     ],
                     [
                     {
                     text: "08/08/25 12:02"
                     },
                     {
                     text: "JOANNE"
                     },
                     {
                     text: "Info repeated as above. Cust paid half, agreed to pay next half by 27/09/25"
                     }
                     ]
                     ]
                     }) }}
                     {% endset -%} {% set transactionsContent %}
                     {{ table({
                     responsive: false,
                     panel: false,
                     firstCellIsHeader: false,
                     head: [
                     {
                     text: "Date"
                     },
                     {
                     text: "User"
                     },
                     {
                     text: "Amount"
                     },
                     {
                     text: "For"
                     },
                     {
                     text: "Type"
                     },
                     {
                     text: "Action"
                     }
                     ],
                     rows: [
                     [
                     {
                     text: "31/07/25 15:44"
                     },
                     {
                     text: "System"
                     },
                     {
                     text: "-£8.60"
                     },
                     {
                     text: "Adjustment"
                     },
                     {
                     text: "Direct Debit"
                     },
                     {
                     html: '<a href=#>Edit</a>'
                     }
                     ],
                     [
                     {
                     text: "30/07/25 12:24"
                     },
                     {
                     text: "System"
                     },
                     {
                     text: "£8.60"
                     },
                     {
                     text: "PCN"
                     },
                     {
                     text: "Direct Debit"
                     },
                     {
                     text: ""
                     }
                     ],
                     [
                     {
                     text: "27/07/25 11:51"
                     },
                     {
                     text: "System"
                     },
                     {
                     text: "£51.00"
                     },
                     {
                     text: "PCN"
                     },
                     {
                     text: "Cheque"
                     },
                     {
                     text: ""
                     }
                     ],
                     [
                     {
                     text: "20/07/25 10:23"
                     },
                     {
                     text: "System"
                     },
                     {
                     text: "-£51.00"
                     },
                     {
                     text: "Surcharge"
                     },
                     {
                     text: "Surcharge added"
                     },
                     {
                     html: '<a href=#>Edit</a>'
                     }
                     ],
                     [
                     {
                     text: "19/07/25 14:20"
                     },
                     {
                     text: "System"
                     },
                     {
                     text: "£58.60"
                     },
                     {
                     text: "PCN"
                     },
                     {
                     text: "Payment request"
                     },
                     {
                     text: ""
                     }
                     ]
                     ]
                     }) }}
                     {% endset -%} {% set auditContent %}
                     {{ table({
                     responsive: false,
                     panel: false,
                     firstCellIsHeader: false,
                     head: [
                     {
                     text: "Date"
                     },
                     {
                     text: "Agent"
                     },
                     {
                     text: "Comments"
                     }
                     ],
                     rows: [
                     [
                     {
                     text: "14/10/25 15:01"
                     },
                     {
                     text: "JOECA"
                     },
                     {
                     text: "Surname changed from: CARTWRIGHT, Postcode changed from: NE1 1EN"
                     }
                     ],
                     [
                     {
                     text: "14/10/25 14:59"
                     },
                     {
                     text: "JOECA"
                     },
                     {
                     text: " Address line 1 changed from: 152 BRIDGE HOUSE"
                     }
                     ],
                     [
                     {
                     text: "30/09/25 11:02"
                     },
                     {
                     text: "JOECA"
                     },
                     {
                     text: " Email updated from: JBLOGGS2@GMAIL.COM"
                     }
                     ]
                     ]
                     }) }}
                     {% endset -%}
                     {{ tabs({
                     items: [
                      {
                     label: "PCN details",
                     id: "pcn-details",
                     panel: {
                     html: pcnContent
                     }
                     },
                     {
                     label: "Notes",
                     id: "notes",
                     panel: {
                     html: notesContent
                     }
                     },
                     {
                     label: "Transactions",
                     id: "transactions",
                     panel: {
                     html: transactionsContent
                     }
                     },
                     {
                     label: "Audit history",
                     id: "audit-history",
                     panel: {
                     html: auditContent
                     }
                     }
                     ]
                     }) }}

            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}