<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

   <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="pay-pcn-DD-start">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-one-half">
      <h1 class="nhsuk-u-margin-bottom-4">
         Unable to set up Direct Debit
      </h1>
      <div></div>

      <div class="nhsuk-card">
         <div class="nhsuk-card__content">
           <h3 class="nhsuk-card__heading">
             All information below must be read out to the customer.
            </h3>
         </div>
         </div>

    

      <p>To set up a Direct Debit, you must confirm that you are:</p>

      <ul>
         <li>using your own bank account</li>
         <li>the only person required to authorise debits on this account</li>
       </ul>

      <p>Direct customer to <a href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">NHS Help with Health Costs online</a> if they cannot confirm to the above statements.</p>


       <a href="pay-pcn-DD-start" class="nhsuk-button" type="submit">Continue</a>

       <p><a href="pcn-css-view">Cancel</a></p>
   
   </div>

   <div class="nhsuk-grid-column-one-half">
      <div class="border-box">
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
               <h1 class="nhsuk-heading-m">PCN 06183129565: Open</h1>
               <p class="nhsuk-heading-m"><a href="prescription-image"> View prescription</a></p>
            </div>
            <!--<h1 class="nhsuk-heading-m">Direct Debit</h1>-->
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescription</h2>
               <p>£26.40</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Enquiry sent</h2>
               <p>not sent</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Items</h2>
               <p>3</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Penalty</h2>
               <p>£100.00</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">PCN sent</h2>
               <p>10/09/18</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescribed date</h2>
               <p>29/05/18</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge</h2>
               <p>£50.00</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge sent</h2>
               <p>10/10/18</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispensed month end date</h2>
               <p>30/06/18</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Requested</h2>
               <p>£176.40</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Respond by</h2>
               <p>07/11/18</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Exemption</h2>
               <p>(M) Has valid NHS Tax Credit Exemption Certificate</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Paid</h2>
               <p>£10.00</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">DWP checked</h2>
               <p>Yes</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Source</h2>
               <p>Electronic</p>
            </div>
         </div>
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Balance due</h2>
               <p>£166.40</p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispenser</h2>
               <p><a href="dispenser">FMMMM</a></p>
            </div>
            <div class="nhsuk-grid-column-one-third">
               <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Evidence not seen?</h2>
               <p>No</p>
            </div>
         </div>

         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
               <div class="nhsuk-tabs nhsuk-u-margin-bottom-0" data-module="nhsuk-tabs">                
                  <ul class="nhsuk-tabs__list">
                     <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                        <a class="nhsuk-tabs__tab" href="#notes">
                        Notes
                        </a>
                     </li>
                  
                     <li class="nhsuk-tabs__list-item">
                        <a class="nhsuk-tabs__tab" href="#transactions">
                        Transactions
                        </a>
                     </li>
                  </ul>
                  
                  <div class="nhsuk-tabs__panel" id="notes">
                     <table  role="table">
                        <thead>
                           <tr>
                              <th class="nhsuk-u-font-weight-bold">Date</th>
                              <th class="nhsuk-u-font-weight-bold">Agent</th>
                              <th class="nhsuk-u-font-weight-bold">Comments</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>27/07/17 13.00</td>
                              <td>TIM</td>
                              <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                           </tr>
                           <tr>
                              <td>27/07/17 13.30</td>
                              <td>JOANNE</td>
                              <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                           </tr>
                           <tr>
                              <td>27/07/17 13.00</td>
                              <td>TIM</td>
                              <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                           </tr>
                           <tr>
                              <td>27/07/17 13.30</td>
                              <td>JOANNE</td>
                              <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                           </tr>
                           <tr>
                              <td>27/07/17 13.30</td>
                              <td>JOANNE</td>
                              <td>IINFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                           </tr>
                           <tr>
                              <td>27/07/17 13.30</td>
                              <td>JOANNE</td>
                              <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  
                  <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="transactions">             
                     <table>
                        <thead>
                           <tr>
                              <th>Date</th>
                              <th>User</th>
                              <th>Amount</th>
                              <th>For</th>
                              <th>Type</th>
                            
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>31/07/17 15.45</td>
                              <td>System</td>
                              <td>-£8.60</td>
                              <td>Adjustment</td>
                              <td>Direct Debit</td>
                           </tr>
                           <tr>
                              <td>30/07/17 15.45</td>
                              <td>System</td>
                              <td>£8.60</td>
                              <td>PCN</td>
                              <td>Direct Debit</td>
                           </tr>
                           <tr>
                              <td>27/07/17 13.30</td>
                              <td>System</td>
                              <td>£51.00</td>
                              <td>PCN</td>
                              <td>Cheque</td>
                           </tr>
                           <tr>
                              <td>27/07/17 13.30</td>
                              <td>System</td>
                              <td>-£51.00</td>
                              <td>Surcharge</td>
                              <td>Surcharge added</td>
                           </tr>
                           <tr>
                              <td>27/07/17 13.30</td>
                              <td>System</td>
                              <td>£58.60</td>
                              <td>PCN</td>
                              <td>Payment request</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  
               </div>

  
   
                  
               
                  
   
   
                  

   
            
         </div>
      </div>
   </div>
</div>

<script>
   var maxLength = 375;
   $('textarea').keyup(function () {
      var length = $(this).val().length;
      var length = maxLength - length;
      $('#chars').text(length);
   });
</script>
{% endblock %}