<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
What is your address?
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-back-link">

   <a class="nhsuk-back-link__link" href="address">
     <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
       <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
     </svg>
     Go back</a>
 </div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <h1 class="nhsuk-u-margin-bottom-4">
            Set up a Direct Debit
        </h1>

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                All information below must be read out to the customer.
          
              </h3>
              
          
            </div>
          </div>

        <h2>What is your address?</h2>

        <p>We'll send confirmation of the Direct Debit to the address provided.</p>

        <fieldset class="nhsuk-fieldset">
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-line-1">
                    Address line 1
                </label>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-line-1" name="address-line-1" type="text">
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-line-1">
                    Address line 2
                </label>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-line-1" name="address-line-1" type="text">
            </div>
       
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-town">
                    Address line 3 (optional)
                </label>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
            </div>
       
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-county">
                    Address line 4 (optional)
                </label>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-county" name="address-county" type="text">
            </div>
       
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-postcode">
                    Postcode
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
            </div>
        </fieldset>
        
        <a href="check-answers" class="nhsuk-button" type="submit">Continue</a>
        <p><a href="/v5/view-pcn">Cancel</a></p>
    </div>

    <div class="nhsuk-grid-column-one-half">
        <div class="border-box">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h1 class="nhsuk-heading-m">PCN 06183129565: Open</h1>
                </div>
            </div>
  
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescription</h2>
                    <p>£26.40</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Enquiry sent</h2>
                    <p>not sent</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Items</h2>
                    <p>3</p>
                </div>
            </div>
  
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Penalty</h2>
                    <p>£100.00</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">PCN sent</h2>
                    <p>10/09/18</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescribed date</h2>
                    <p>29/05/18</p>
                </div>
            </div>
  
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge</h2>
                    <p>£50.00</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge sent</h2>
                    <p>10/10/18</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispensed month end date</h2>
                    <p>30/06/18</p>
                </div>
            </div>
  
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Requested</h2>
                    <p>£176.40</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Respond by</h2>
                    <p>07/11/18</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Exemption</h2>
                    <p>(M) Has valid NHS Tax Credit Exemption Certificate</p>
                </div>
            </div>
  
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Paid</h2>
                    <p>£10.00</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">DWP checked</h2>
                    <p>Yes</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Source</h2>
                    <p>Electronic</p>
                </div>
            </div>
  
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Balance due</h2>
                    <p>£166.40</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispenser</h2>
                    <p>FMMMM</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Evidence not seen?</h2>
                    <p>No</p>
                </div>
  
                <div class="nhsuk-grid-column-full">
                    <div class="container">
                      <ul class="tabs1">
                          <li class="tab-link current1" data-tab1="tab-1">Personal details</li>
                         <li class="tab-link" data-tab1="tab-2">Notes</li>
                         <li class="tab-link" data-tab1="tab-3">Transactions</li>
                      </ul>
  
                      <!-- PERSONAL DETAILS -->
                      <div id="tab-1" class="tab1-content current1">
                        <dl class="nhsuk-summary-list ">
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Name
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Joe Bloggs
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                          </dd>
                          </div>
                        
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Address
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                            9 Hotspur Street<br>Townford<br> NE10LD
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                          </dd>
                          </div>
                        
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Email address
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                            <p>joe.blogss@example.com</p>
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                          </dd>
                          </div>
                        
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Telephone number
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              <p>07700 900362</p>
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                          </dd>
                          </div>
              
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Date of birth
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              20 November 1988
                            </dd>                   
                              <dd class="nhsuk-summary-list__actions">
                              </dd>
                          </div>
              
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              NHS number
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                23141986
                            </dd>
                                <dd class="nhsuk-summary-list__actions">
                            </dd>
                          </div>
                        </dl>
                      </div>
  
                      <!-- NOTES -->
                      <div id="tab-2" class="tab1-content">
                         <table class="internal-table">
                            <thead>
                               <tr>
                                  <th>Date</th>
                                  <th>User</th>
                                  <th>Amount</th>
                                  <th>For</th>
                                  <th>Type</th>
                                  
                               </tr>
                            </thead>
                            <tbody>
                               <tr>
                                  <td>31/07/17 15.45</td>
                                  <td>System</td>
                                  <td>-£8.60</td>
                                  <td>Adjustment</td>
                                  <td>Direct Debit</td>
                                  
                               </tr>
                               <tr>
                                  <td>30/07/17 15.45</td>
                                  <td>System</td>
                                  <td>£8.60</td>
                                  <td>PCN</td>
                                  <td>Direct Debit</td>
                                  
                               </tr>
                               <tr>
                                  <td>27/07/17 13.30</td>
                                  <td>System</td>
                                  <td>£51.00</td>
                                  <td>PCN</td>
                                  <td>Cheque</td>
                                  
                               </tr>
                               <tr>
                                  <td>27/07/17 13.30</td>
                                  <td>System</td>
                                  <td>-£51.00</td>
                                  <td>Surcharge</td>
                                  <td>Surcharge added</td>
                                  
                               </tr>
                               <tr>
                                  <td>27/07/17 13.30</td>
                                  <td>System</td>
                                  <td>£58.60</td>
                                  <td>PCN</td>
                                  <td>Payment request</td>
                                  
                               </tr>
                            </tbody>
                         </table>
                      </div>
       
                      <!-- TRANSACTIONS -->
                      <div id="tab-3" class="tab1-content">
                         <table>
                            <thead>
                               <tr>
       
                                     <th>Date</th>
                                     <th>Agent</th>
                                     <th>Comments</th>
       
                               </tr>
                            </thead>
       
                            <tbody>
                               <tr>
                                  <td>27/07/2017 13.00</td>
                                  <td>Tim</td>
                                  <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                               </tr>
                               <tr>
                                  <td>27/07/2017 13.30</td>
                                  <td>Joanne</td>
                                  <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                               </tr>
                               <tr>
                                  <td>27/07/2017 13.00</td>
                                  <td>Tim</td>
                                  <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                               </tr>
                               <tr>
                                  <td>27/07/2017 13.30</td>
                                  <td>Joanne</td>
                                  <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                               </tr>
                               <tr>
                                  <td>27/07/2017 13.30</td>
                                  <td>Joanne</td>
                                  <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                               </tr>
                               <tr>
                                  <td>27/07/2017 13.30</td>
                                  <td>Joanne</td>
                                  <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                               </tr>
       
                            </tbody>
                         </table>
                      </div>
                   </div>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}