<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-secondary-navigation__container">
                <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
                    <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                        <ul class="nhsuk-secondary-navigation__list">
                            <li class="nhsuk-secondary-navigation__item">
                                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="test-screen">Back</a>
                            </li>
                            <li class="nhsuk-secondary-navigation__item">
                                <a class="nhsuk-secondary-navigation__link" href="me-journey/open-cases">
                                </a>
                            </li>
                            <li class="nhsuk-secondary-navigation__item">
                                <a class="nhsuk-secondary-navigation__link" href="me-journey/closed-cases"></a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l">Close record</h1>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="select-1">Reason</label>

            <select class="nhsuk-select" id="select-1" name="select-1">
                <option value="1">MEDEX or MATEX - subsequently holds a certificte </option>
                <option value="2" selected>Vulnerable - Terminal illness over 6 months</option>
                <option value="3" selected>Vulnerable - Terminal illness under 6 months
                <option value="4">Vulnerable - Language difficulties</option>
                <option value="5" selected>Vulnerable - Disability or long term condition</option>
                <option value="6" selected>Extreme situation/Team manager discretion
                <option value="7">Same checking period</option>
                <option value="8" selected>Prescription delivered and left with a minor</option>
                <option value="9" selected>Original PCN not received
                <option value="10">Payment/Evidence recieved within timeframe</option>
                <option value="11" selected>Cross over (Surcharge)</option>
                <option value="12" selected>Financial hardship -HC2 confirmed
                <option value="13">First letter not received</option>
                <option value="14" selected>More than one PCN in same month</option>
                <option value="15" selected>PR form not signed
                <option value="14" selected>Signed declaration - signed</option>
                <option value="14" selected>Signed declaration- not collected</option>
                <option value="14" selected>Dead letter office return</option>
            </select>
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">Note</label>
            <textarea class="nhsuk-textarea" id="example" name="example" rows="8" style="font-size:19px;"></textarea>
            <p class="nhsuk-hint">You have <span id="chars">2048</span> characters remaining</p>
        </div>
        <a href="applicant-view-personal-details" class="nhsuk-button" role="button">Submit</a>
        <p><a href="javascript:history.back()">Cancel</a></p>
    </div>
</div>


{% endblock %}