<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
 Pay by Direct Debit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="pcn-payment">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>

      <h1>
         Pay by Direct Debit
      </h1>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            Important:
          </span>
        </h3>
        <p>This information must all be read out to the customer.</p>
      </div>

      <p>Direct Debit lets you pay your penalty charge over a number of months, on a date that suits you.</p>
      <p>If we are unable to take a payment, you may have to pay extra charges.</p>
      <p>If we are unable to take payments on more than one occassion, your Direct Debit plan may be canceelled and you may need to pay the amount you owe in full.</p>

      <form action="pcn-payment-dd-months" method="POST">
         <div class="nhsuk-form-group">
           <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
             <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
               <h1 class="nhsuk-fieldset__heading">
                  You must confirm the following to setup a Direct Debit online
               </h1>
             </legend>
       
             <div class="nhsuk-checkboxes">
               <div class="nhsuk-checkboxes__item">
                 <input class="nhsuk-checkboxes__input" id="example-1" name="confirm" type="checkbox" value="own bank">
                 <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                   I'm using my own bank account
                 </label>
               </div>
       
               <div class="nhsuk-checkboxes__item">
                 <input class="nhsuk-checkboxes__input" id="example-2" name="confirm" type="checkbox" value="only person">
                 <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                   I'm the only person required to authorise debits from this account
                 </label>
               </div>
       
               <div class="nhsuk-checkboxes__item">
                 <input class="nhsuk-checkboxes__input" id="example-3" name="confirm" type="checkbox" value="understand">
                 <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                   I understand that if you are unable to take payments on more than one occasion, I might have to pay extra charges and may not be able to pay by Direct Debit again
                 </label>
               </div>
             </div>
           </fieldset>       
         </div>

         <p>Read the <a href="#">Direct Debit guarantee</a></p>
       
         <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
           Continue
         </button>
       </form>


      <p><a href="pcn-css-view">Cancel</a></p>
   </div>
</div>

</html>
{% endblock %}