<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
 How would you like to pay?
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{% if data['payment-method'] === "card" %}
  {% set cardChecked = true %}
{% else %}
  {% set cardChecked = false %}
{% endif %}

<!-- Controls which radio is auto selected if user uses 'go back' by remembering choice with session data -->
{% if data['payment-method'] === "dd" %}
  {% set ddChecked = true %}
{% else %}
  {% set ddChecked = false %}
{% endif %}


{{ errorSummary({
  "titleText": "There is a problem",
  "errorList": [
    {
      "text": "Select how you would like to pay your penalty charge",
      "href": "#payment-method-error-1"
    }
  ]
}) }}

<form action="/v3-george/css-payment-error" method="POST">
  {{ radios({
    "idPrefix": "payment-method-error",
    "name": "payment-method-error",
    "fieldset": {
      "legend": {
        "text": "How would you like to pay?",
        "classes": "nhsuk-fieldset__legend--xl",
        "isPageHeading": true
      }
    },
    "errorMessage": {
      "text": "Select how you would like to pay your penalty charge"
  },
    "items": [
      {
        "value": "card",
        "text": "Debit or credit card",
        "checked": cardChecked
      },
      {
        "value": "dd",
        "text":  "Direct Debit",
        "checked": ddChecked
      }
    ]
  }) }}   
  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
    Submit
  </button>
</form>

 <p><a href="css-view">Cancel</a></p>
</html>
{% endblock %}