<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
 Confirm your email address
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
            "href": "css-payment-dd-email",
            "text": "Go back"
        }) }}

        {{ errorSummary({
            "titleText": "There is a problem",
            "errorList": [
              {
                "text": "The email address you provided does not match",
                "href": "#email-address-confirm"
              }
            ]
        }) }}

        <h1>
            Confirm your email address
        </h1>

        <form action="css-payment-dd-bank-details" method="POST">
            {{ input({
                "label": {
                  "text": "Email address"
                },
                "errorMessage": {
                    "text": "The email address you provided does not match"
                },
                "classes": "nhsuk-u-width-one-half",
                "id": "email-address-confirm",
                "name": "email-address-confirm"
              }) }}

              {{ button({
                "text": "Continue",
                "type": "submit"
            }) }}
        </form>

        <p><a href="css-view">Cancel</a></p>
    </div>
</div>
{% endblock %}