<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
 Pay by Direct Debit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
        <h1>
            Direct Debit completed
        </h1>

        <div class="nhsuk-warning-callout">
            <h2 class="nhsuk-warning-callout__label">
            <span role="text">
                Important:
            </span>
            </h2>
            <p>This information must all be read out to the customer.</p>
        </div>

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading" style="text-align: center; color: white;">
                    Thank you
                </h2>
        
                <h2 class="nhsuk-card__content" style="text-align: center; color: white;">
                    You have set up a Direct Debit to pay your penalty charge.
                </h2>
            </div>
        </div>

        <p>Confirmation of the instruction will be sent to you in 3 working days, or be received to you by no later than 10 working days before the first collection.</p>

        <h2>First payment</h2>
        <p>Your first payment of £13.95 will be taken on or just after 01 September 2023.</p>
        <h2>Next payment</h2>
        <p>Your next payment of £13.87 will be taken on or just after 01 October 2023.</p>
        <p>As long as you keep up payments there will be no further changes added to your account.</p>
    
        <h2>How to avoid a future Penalty Charge Notice</h2>
        <p>We match exemptions using a combination of your:</p>
        <ul>
          <li>name</li>
          <li>address</li>
          <li>date of birth</li>
          <li>NHS number</li>
        </ul>
        <p>Make sure these are correct at your GP surgery, dental practice, and any benefits organisations.</p>
        <p>If any of your details are not up to date, you may receive another Penalty Charge Notice in the future.</p>

        <p class="nhsuk-u-margin-bottom-0"><a href="css-search" class="nhsuk-button" role="button">Finish</a></p>

        <!-- <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Check if you are currently entitled to help with your health costs</span>
            </a>
          </div>
          <p><a href="#">Print this page</a></p>
          <h3>Feedback</h3>
          <p>Leaving feedback takes 5 minutes. Your comments will help us provide a better service.</p>
          <p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae"target="_blank">Leave feedback (opens in a new tab)</a></p> -->
  </div>

  <div class="nhsuk-grid-column-one-half">
    <div class="bordered-content-box nhsuk-u-margin-bottom-6">
       <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
             <h2 class="nhsuk-heading-m pcn-title nhsuk-u-margin-bottom-0">PCN 06183129565 <span class="nhsuk-tag nhsuk-tag--green heading-tag">Open</span></h2> 
          </div>
       </div>
    </div>
    <div class="nhsuk-grid-row">
       <div class="nhsuk-grid-column-full">
          <div class="nhsuk-tabs" data-module="nhsuk-tabs">
             <ul class="nhsuk-tabs__list">
          
             <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                <a class="nhsuk-tabs__tab" href="#costs">
                   Costs
                </a>
             </li>
          
             <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#dates">
                   Dates
                </a>
             </li>
          
             <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#other">
                   Other
                </a>
             </li>
             </ul>
          
             <div class="nhsuk-tabs__panel" id="costs">
                <dl class="nhsuk-summary-list">
                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Prescription cost
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                         £26.40
                      </dd>
                      </div>
                   
                      <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Penalty charge
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                         £100.00
                      </dd>
                   </div>
                
                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Surcharge
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                         £50.00
                      </dd>
                   </div>
                
                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Total charge
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                         £176.40
                      </dd>
                   </div>

                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Paid
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        £10.00
                      </dd>
                   </div>

                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Balance remaining
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                         <p class="nhsuk-u-font-weight-bold">£166.40</p>
                      </dd>
                   </div>
                </dl>
             </div>
          
             <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="dates">
                <dl class="nhsuk-summary-list">
                   <div class="nhsuk-summary-list__row">
                   <dt class="nhsuk-summary-list__key">
                      Prescribed on
                   </dt>
                   <dd class="nhsuk-summary-list__value">
                      29/05/18
                   </dd>
                   </div>

                   <div class="nhsuk-summary-list__row">

                

                   <dt class="nhsuk-summary-list__key">
                      Dispensed month end date
                   </dt>
                   <dd class="nhsuk-summary-list__value">
                      30/06/18
                   </dd>
                </div>

                   <div class="nhsuk-summary-list__row">
                   <dt class="nhsuk-summary-list__key">
                      Enquiry sent
                   </dt>
                   <dd class="nhsuk-summary-list__value">
                      Not sent
                   </dd>
                   </div>
                
                   <div class="nhsuk-summary-list__row">
                   <dt class="nhsuk-summary-list__key">
                      PCN sent
                   </dt>
                   <dd class="nhsuk-summary-list__value">
                      10/09/18
                   </dd>
                   </div>
                
                   <div class="nhsuk-summary-list__row">
                   <dt class="nhsuk-summary-list__key">
                      Surcharge sent
                   </dt>
                   <dd class="nhsuk-summary-list__value">
                      <p>10/10/18</p>
                   </dd>
                   </div>

                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                      Respond by
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                      07/11/18
                   </div>
                </dl>
             </div>
          
             <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="other">
                <dl class="nhsuk-summary-list">
                   <div class="nhsuk-summary-list__row">
                   <dt class="nhsuk-summary-list__key">
                      Prescription items
                   </dt>
                   <dd class="nhsuk-summary-list__value">
                      3
                   </dd>
                   </div>

                   <div class="nhsuk-summary-list__row">
                   <dt class="nhsuk-summary-list__key">
                      Exemption
                   </dt>
                   <dd class="nhsuk-summary-list__value">
                      (M) Has valid NHS Tax Credit Exemption Certificate
                   </dd>
                   </div>
                
                   <div class="nhsuk-summary-list__row">
                   <dt class="nhsuk-summary-list__key">
                      DWP checked
                   </dt>
                   <dd class="nhsuk-summary-list__value">
                      Yes
                   </dd>
                   </div>
                
                   <div class="nhsuk-summary-list__row">
                   <dt class="nhsuk-summary-list__key">
                      Source
                   </dt>
                   <dd class="nhsuk-summary-list__value">
                      Electronic
                   </dd>
                   </div>

                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                      Dispenser
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                         <p>FMMMM</p>
                      </dd>
                   </div>


                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Evidence not seen?
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                         No
                      </dd>
                   </div>
                </dl>
             </div>
          </div>
       </div>
    </div>

    <div class="nhsuk-grid-row">
       <div class="nhsuk-grid-column-full">
          <div class="nhsuk-tabs nhsuk-u-margin-bottom-0" data-module="nhsuk-tabs">                
             <ul class="nhsuk-tabs__list">
                <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                   <a class="nhsuk-tabs__tab" href="#notes">
                   Notes
                   </a>
                </li>
             
                <li class="nhsuk-tabs__list-item">
                   <a class="nhsuk-tabs__tab" href="#transactions">
                   Transactions
                   </a>
                </li>
             </ul>
             
             <div class="nhsuk-tabs__panel" id="notes">
                <table  role="table">
                   <thead>
                      <tr>
                         <th class="nhsuk-u-font-weight-bold">Date</th>
                         <th class="nhsuk-u-font-weight-bold">Agent</th>
                         <th class="nhsuk-u-font-weight-bold">Comments</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td>27/07/17 13.00</td>
                         <td>TIM</td>
                         <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                      </tr>
                      <tr>
                         <td>27/07/17 13.30</td>
                         <td>JOANNE</td>
                         <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                      </tr>
                      <tr>
                         <td>27/07/17 13.00</td>
                         <td>TIM</td>
                         <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                      </tr>
                      <tr>
                         <td>27/07/17 13.30</td>
                         <td>JOANNE</td>
                         <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                      </tr>
                      <tr>
                         <td>27/07/17 13.30</td>
                         <td>JOANNE</td>
                         <td>IINFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                      </tr>
                      <tr>
                         <td>27/07/17 13.30</td>
                         <td>JOANNE</td>
                         <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                      </tr>
                   </tbody>
                </table>
             </div>
             
             <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="transactions">             
                <table>
                   <thead>
                      <tr>
                         <th>Date</th>
                         <th>User</th>
                         <th>Amount</th>
                         <th>For</th>
                         <th>Type</th>
                       
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td>31/07/17 15.45</td>
                         <td>System</td>
                         <td>-£8.60</td>
                         <td>Adjustment</td>
                         <td>Direct Debit</td>
                      </tr>
                      <tr>
                         <td>30/07/17 15.45</td>
                         <td>System</td>
                         <td>£8.60</td>
                         <td>PCN</td>
                         <td>Direct Debit</td>
                      </tr>
                      <tr>
                         <td>27/07/17 13.30</td>
                         <td>System</td>
                         <td>£51.00</td>
                         <td>PCN</td>
                         <td>Cheque</td>
                      </tr>
                      <tr>
                         <td>27/07/17 13.30</td>
                         <td>System</td>
                         <td>-£51.00</td>
                         <td>Surcharge</td>
                         <td>Surcharge added</td>
                      </tr>
                      <tr>
                         <td>27/07/17 13.30</td>
                         <td>System</td>
                         <td>£58.60</td>
                         <td>PCN</td>
                         <td>Payment request</td>
                      </tr>
                   </tbody>
                </table>
             </div>
             
          </div>
       </div>
    </div>
  </div>
</div>
{% endblock %}