<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
 Pay by Direct Debit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
        <h1>
            Direct Debit completed
        </h1>

        <div class="nhsuk-warning-callout">
            <h2 class="nhsuk-warning-callout__label">
            <span role="text">
                Important:
            </span>
            </h2>
            <p>This information must all be read out to the customer.</p>
        </div>

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading" style="text-align: center; color: white;">
                    Thank you
                </h2>
        
                <h2 class="nhsuk-card__content" style="text-align: center; color: white;">
                    You have set up a Direct Debit to pay your penalty charge.
                </h2>
            </div>
        </div>

        <p>Confirmation of the instruction will be sent to you in 3 working days, or be received to you by no later than 10 working days before the first collection.</p>

        <h2>First payment</h2>
        <p>Your first payment of £13.95 will be taken on or just after 01 September 2023.</p>
        <h2>Next payment</h2>
        <p>Your next payment of £13.87 will be taken on or just after 01 October 2023.</p>
        <p>As long as you keep up payments there will be no further changes added to your account.</p>
    
        <h2>How to avoid a future Penalty Charge Notice</h2>
        <p>We match exemptions using a combination of your:</p>
        <ul>
          <li>name</li>
          <li>address</li>
          <li>date of birth</li>
          <li>NHS number</li>
        </ul>
        <p>Make sure these are correct at your GP surgery, dental practice, and any benefits organisations.</p>
        <p>If any of your details are not up to date, you may receive another Penalty Charge Notice in the future.</p>

        <p class="nhsuk-u-margin-bottom-0"><a href="css-search" class="nhsuk-button" role="button">Finish</a></p>

        <!-- <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Check if you are currently entitled to help with your health costs</span>
            </a>
          </div>
          <p><a href="#">Print this page</a></p>
          <h3>Feedback</h3>
          <p>Leaving feedback takes 5 minutes. Your comments will help us provide a better service.</p>
          <p><a href="https://online1.snapsurveys.com/interview/c65416e2-df71-4e71-a691-315b9abb4eae"target="_blank">Leave feedback (opens in a new tab)</a></p> -->
    </div>
</div>
{% endblock %}