<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
 Pay by Direct Debit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
            "href": "css-payment-dd-months",
            "text": "Go back"
        }) }}

        {{ errorSummary({
        "titleText": "There is a problem",
        "errorList": [
            {
            "text": "Enter a payment date between 1 and 28",
            "href": "#example-error-1"
            }
        ]
        }) }}

        <h1>
            Which date would you like payments to be taken each month?
        </h1>

        {{ warningCallout({
            "heading": "Important:",
            "HTML": "<p>This information must all be read out to the customer.</p>"
        }) }}

        <p>All payments will be taken on, or just after, your chosen date.</p>
        <p>Enter a payment date between 1 and 28</p>

        <form action="css-payment-dd-address" method="POST">
            {{ input({
                "label": {
                    "text": "Date"
                },
                "errorMessage": {
                    "text": "Enter a payment date between 1 and 28"
                },
                "id": "date",
                "name": "date",
                "type": "number",
                "classes": "nhsuk-input--width-2",
                "value": data['date']
            }) }}

            {{ button({
                "text": "Continue",
                "type": "submit"
            }) }}
        </form>

        <p><a href="css-view">Cancel</a></p>
    </div>
</div>
{% endblock %}