<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
 Pay by Direct Debit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
            "href": "css-payment-dd-date",
            "text": "Go back"
        }) }}

        {{ errorSummary({
          "titleText": "There is a problem",
          "errorList": [
              {
              "text": "Select whether your address is correct or not",
              "href": "#address-correct-1"
              }
          ]
        }) }}

        <h1>
            Is your address correct?
        </h1>

        {{ warningCallout({
            "heading": "Important:",
            "HTML": "<p>This information must all be read out to the customer.</p>"
        }) }}

        <p>We'll send confirmation of your Direct Debit to the address you provide.</p>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Address
              </dt>
              <dd class="nhsuk-summary-list__value">
                9 Hotspur Street<br>Townford<br>NE10LD
              </dd>
            </div>
          </dl>

        <form action="css-payment-dd-email" method="POST">
            {{ radios({
                "idPrefix": "address-correct",
                "name": "address-correct",
                "classes": "nhsuk-radios--inline",
                "fieldset": {
                  "legend": {
                    "text": "Is your address correct?",
                    "classes": "nhsuk-fieldset__legend--s nhsuk-u-font-weight-normal",
                    "isPageHeading": false
                  }
                },
                "errorMessage": {
                  "text": "Select whether your address is correct or not"
                },
                "items": [
                  {
                    "value": "yes",
                    "text": "Yes"
                  },
                  {
                    "value": "no",
                    "text": "No"
                  }
                ]
            }) }}

            {{ button({
                "text": "Continue",
                "type": "submit"
            }) }}
        </form>

        <p><a href="css-view">Cancel</a></p>
    </div>
</div>
{% endblock %}