<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
View PCN
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <br><br>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="bordered-content-box nhsuk-u-margin-bottom-6">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <h1 class="nhsuk-heading-m pcn-title nhsuk-u-margin-bottom-0">PCN 06183129565 <span class="nhsuk-tag nhsuk-tag--green heading-tag">Open</span></h1> 
         <p class="prescription-link nhsuk-u-margin-bottom-0"><a href="css-prescription-image"> View prescription</a></p>
      </div>
   </div>
</div>

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-one-half">
      
      <div class="bordered-content-box">

         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
               <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="title">Title</label>
                  <input class="nhsuk-input nhsuk-input--width-3" id="title" name="title" type="text" value="Mr">
               </div>          
            </div>
         </div>

         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
               <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="f-name">First name</label>
                  <input class="nhsuk-input" id="f-name" name="first-name-2" type="text" value="JOE">
               </div>
            </div>

            <div class="nhsuk-grid-column-one-half">
               <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="s-name">Last name</label>
                  <input class="nhsuk-input" id="s-name" name="first-name-2" type="text" value="BLOGGS">
               </div>
            </div>
         </div>

         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
               <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="add-1">Address line 1</label>
                  <input class="nhsuk-input" id="add-1" name="first-name-2" type="text" value="9 HOTSPUR STREET">
               </div>
            </div>
            <div class="nhsuk-grid-column-one-half">      
               <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="add-2">Address line 2</label>
                  <input class="nhsuk-input" id="add-2" name="first-name-2" type="text" value="TOWNFORD">
               </div>
            </div>
         </div>

         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
               <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="add-3">Town or city</label>
                  <input class="nhsuk-input" id="add-3" name="first-name-2" type="text" value="">
               </div>
            </div>
            <div class="nhsuk-grid-column-one-half">
               <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="add-4">County</label>
                  <input class="nhsuk-input" id="add-4" name="first-name-2" type="text" value="">
               </div>
            </div>
         </div>

         <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="postcode">Postcode</label>
            <input class="nhsuk-input nhsuk-input--width-5" id="postcode" name="first-name-2" type="text" value="NE10LD">
         </div>
   
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
               <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="email">Email address</label>
                  <input class="nhsuk-input" id="email" name="first-name-2" type="email" value="joe.blogss@example.com">
               </div>
            </div>
   
            <div class="nhsuk-grid-column-one-half">
               <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="tel">Telephone number</label>
                  <input class="nhsuk-input" id="tel" name="first-name-2" type="text" value="07700 900362">
               </div>
            </div>
         </div>

         <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="dob">Date of birth</label>
         
               <div class="nhsuk-date-input" id="example">
               <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                     <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                     Day
                     </label>
                     <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="text" pattern="[0-9]*" inputmode="numeric" value="20">
                  </div>
               </div>
               <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                     <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                     Month
                     </label>
                     <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="text" pattern="[0-9]*" inputmode="numeric" value="11">
                  </div>
               </div>
               <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                     <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                     Year
                     </label>
                     <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric" value="1988">
                  </div>
               </div>
               </div>
         </div>


         <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="nhs-no">NHS number</label>
            <input class="nhsuk-input nhsuk-input--width-10" id="nhs-no" name="first-name-2" type="text" value="23141986">
         </div>

               
         <a class="nhsuk-button nhsuk-u-margin-right-2" id="search-button" href="css-view" role="button">Save</a>
         <p class="nhsuk-u-margin-bottom-0">
             <a class="nhsuk-link" href="css-view">Cancel</a>
         </p>
      </div>
      
      <div class="nhsuk-u-margin-top-5">
         <div class="nhsuk-tabs" data-module="nhsuk-tabs">             
            <ul class="nhsuk-tabs__list">
               <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                  <a class="nhsuk-tabs__tab" href="#matches">
                  Matches
                  </a>
               </li>
            
               <li class="nhsuk-tabs__list-item">
                  <a class="nhsuk-tabs__tab" href="#possible-matches">
                  Possible matches
                  </a>
               </li>
            </ul>
            
            <div class="nhsuk-tabs__panel" id="matches">
               <table>
                  <thead>
                     <tr>
                        <th>Reference</th>
                        <th>Letter type</th>
                        <th>Sent</th>
                        <th>Respond</th>
                        <th>Balance</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td><a href="">23141986</a></td>
                        <td>PCN</td>
                        <td>28/05/17</td>
                        <td>28/06/17</td>
                        <td>£108.60</td>
                        <td><span class="nhsuk-tag nhsuk-tag--green case-tag">Open</span></td>
                     </tr>
                     <tr>
                        <td><a href="">323456789</a></td>
                        <td>PCN</td>
                        <td>28/04/17</td>
                        <td>28/05/17</td>
                        <td>£108.60</td>
                        <td><span class="nhsuk-tag nhsuk-tag--red case-tag">Closed</span></td>
                     </tr>
                  </tbody>
               </table>
            </div>
            
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="possible-matches">
               <table>
                  <thead>
                     <tr>
                        <th>Reference</th>
                        <th>Name</th>
                        <th>D.O.B</th>
                        <th>Postcode</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="decsRow">
                        <td><a href="#">823456789</a></td>
                        <td>JOE BLOGGS</td>
                        <td>20/03/90</td>
                        <td>NE1 0LD</td>
                        <td><span class="nhsuk-tag nhsuk-tag--green case-tag">Open</span></td>
                     </tr>
                     <tr>
                        <td><a href="#">423456789</a></td>
                        <td>JOE J BLOGGS</td>
                        <td>20/03/90</td>
                        <td>NE1 0LD</td>
                        <td><span class="nhsuk-tag nhsuk-tag--green case-tag">Open</span></td>
                     </tr>
                     <tr class="decsRow">
                        <td><a href="#">523456789</a></td>
                        <td>JOE BLOGGS</td>
                        <td>20/03/90</td>
                        <td>NE1 5LD</td>
                        <td><span class="nhsuk-tag nhsuk-tag--green case-tag">Open</span></td>
                     </tr>
                     <tr class="decsRow">
                        <td><a href="#">623456789</a></td>
                        <td>LAURA HARTFORD</td>
                        <td>20/03/90</td>
                        <td>NE1 0LD</td>
                        <td><span class="nhsuk-tag nhsuk-tag--green case-tag">Open</span></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>

   <div class="nhsuk-grid-column-one-half">
      <div class="nhsuk-tabs" data-module="nhsuk-tabs">
         <ul class="nhsuk-tabs__list">
      
         <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#costs">
               Costs
            </a>
         </li>
      
         <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#dates">
               Dates
            </a>
         </li>
      
         <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#other">
               Other
            </a>
         </li>
         </ul>
      
         <div class="nhsuk-tabs__panel" id="costs">
            <dl class="nhsuk-summary-list">
               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Prescription cost
               </dt>
               <dd class="nhsuk-summary-list__value">
                  £26.40
               </dd>
               </div>
            
               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Penalty charge
               </dt>
               <dd class="nhsuk-summary-list__value">
                  £100.00
               </dd>
            
               </div>
            
               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Surcharge
               </dt>
               <dd class="nhsuk-summary-list__value">
                  £50.00
               </dd>
            
               </div>
            
               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Total charge
               </dt>
               <dd class="nhsuk-summary-list__value">
                  <p>£176.40</p>
               </dd>
            
               </div>

               <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                  Paid
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                  <p>£10.00</p>
                  </dd>
            
               </div>

               <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                  Balance remaining
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                  <p class="nhsuk-u-font-weight-bold">£166.40</p>
                  </dd>
            
               </div>
            
            </dl>
         </div>
      
         <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="dates">
            <dl class="nhsuk-summary-list">
               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Prescribed on
               </dt>
               <dd class="nhsuk-summary-list__value">
                  29/05/18
               </dd>
               </div>

               <div class="nhsuk-summary-list__row">

            

               <dt class="nhsuk-summary-list__key">
                  Dispensed month end date
               </dt>
               <dd class="nhsuk-summary-list__value">
                  30/06/18
               </dd>
            </div>

               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Enquiry sent
               </dt>
               <dd class="nhsuk-summary-list__value">
                  Not sent
               </dd>
               </div>
            
               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  PCN sent
               </dt>
               <dd class="nhsuk-summary-list__value">
                  10/09/18
               </dd>
               </div>
            
               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Surcharge sent
               </dt>
               <dd class="nhsuk-summary-list__value">
                  <p>10/10/18</p>
               </dd>
               </div>

               <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                  Respond by
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                  07/11/18
               </div>
            </dl>
         </div>
      
         <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="other">
            <dl class="nhsuk-summary-list">
               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Prescription items
               </dt>
               <dd class="nhsuk-summary-list__value">
                  3
               </dd>
               </div>

               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Exemption
               </dt>
               <dd class="nhsuk-summary-list__value">
                  (M) Has valid NHS Tax Credit Exemption Certificate
               </dd>
               </div>
            
               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  DWP checked
               </dt>
               <dd class="nhsuk-summary-list__value">
                  Yes
               </dd>
               </div>
            
               <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                  Source
               </dt>
               <dd class="nhsuk-summary-list__value">
                  Electronic
               </dd>
               </div>

               <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                  Dispenser
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                     <p><a href="css-dispenser">FMMMM</a></p>
                  </dd>
               </div>


               <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                     Evidence not seen?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                     No
                  </dd>
               </div>
            </dl>
         </div>
      </div>

      <div class="nhsuk-tabs nhsuk-u-margin-bottom-0" data-module="nhsuk-tabs">                
         <ul class="nhsuk-tabs__list">
            <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
               <a class="nhsuk-tabs__tab" href="#notes">
               Notes
               </a>
            </li>
         
            <li class="nhsuk-tabs__list-item">
               <a class="nhsuk-tabs__tab" href="#transactions">
               Transactions
               </a>
            </li>
         </ul>
         
         <div class="nhsuk-tabs__panel" id="notes">
            <p><a href="css-add-note">Add a note</a></p>
            
            <table  role="table">
               <thead>
                  <tr>
                     <th class="nhsuk-u-font-weight-bold">Date</th>
                     <th class="nhsuk-u-font-weight-bold">Agent</th>
                     <th class="nhsuk-u-font-weight-bold">Comments</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>27/07/17 13.00</td>
                     <td>TIM</td>
                     <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                  </tr>
                  <tr>
                     <td>27/07/17 13.30</td>
                     <td>JOANNE</td>
                     <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                  </tr>
                  <tr>
                     <td>27/07/17 13.00</td>
                     <td>TIM</td>
                     <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                  </tr>
                  <tr>
                     <td>27/07/17 13.30</td>
                     <td>JOANNE</td>
                     <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                  </tr>
                  <tr>
                     <td>27/07/17 13.30</td>
                     <td>JOANNE</td>
                     <td>IINFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                  </tr>
                  <tr>
                     <td>27/07/17 13.30</td>
                     <td>JOANNE</td>
                     <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                  </tr>
               </tbody>
            </table>
         </div>
         
         <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="transactions">
            <p><a href="css-payment">Add a payment</a> &nbsp;&nbsp; <a href="css-easement-surcharge">Add an easement</a></p>
         
            <table>
               <thead>
                  <tr>
                     <th>Date</th>
                     <th>User</th>
                     <th>Amount</th>
                     <th>For</th>
                     <th>Type</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>31/07/17 15.45</td>
                     <td>System</td>
                     <td>-£8.60</td>
                     <td>Adjustment</td>
                     <td>Direct Debit</td>
                     <td><a href="#">Edit</a></td>
                  </tr>
                  <tr>
                     <td>30/07/17 15.45</td>
                     <td>System</td>
                     <td>£8.60</td>
                     <td>PCN</td>
                     <td>Direct Debit</td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>27/07/17 13.30</td>
                     <td>System</td>
                     <td>£51.00</td>
                     <td>PCN</td>
                     <td>Cheque</td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>27/07/17 13.30</td>
                     <td>System</td>
                     <td>-£51.00</td>
                     <td>Surcharge</td>
                     <td>Surcharge added</td>
                     <td><a href="#">Remove</a></td>
                  </tr>
                  <tr>
                     <td>27/07/17 13.30</td>
                     <td>System</td>
                     <td>£58.60</td>
                     <td>PCN</td>
                     <td>Payment request</td>
                     <td></td>
                  </tr>
               </tbody>
            </table>
         </div>
         
      </div>    
   </div>
</div>
{% endblock %}