<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
 Pay by Direct Debit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<!-- Controls which checkboxes are checked upon loading of error page by remembering choice with session data -->

{% set passedData = data['confirm'] %}

{% if passedData === noneChecked %}
  {% set checkboxChecked = false %}
  {% set errorMessageText = "Confirm that you are using your own bank account, you are the only person... " %}
{% else %}
  {% set checkboxChecked = true %}
  {% set errorMessageText = "Confirm that you understand what will happen if we are unable to take payments on more than one occasion" %}
{% endif %}

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="css-payment">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>

      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <p class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </p>
        <div class="nhsuk-error-summary__body">
          
          <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
            <li>
              <a href="#dd-confirmation-3">{{ errorMessageText }}</a>
            </li>
          </ul>
        </div>
      </div>

      <h1>
         Pay by Direct Debit
      </h1>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            Important:
          </span>
        </h3>
        <p>This information must all be read out to the customer.</p>
      </div>

      <p>Direct Debit lets you pay your penalty charge over a number of months, on a date that suits you.</p>
      <p>If we are unable to take a payment, you may have to pay extra charges.</p>
      <p>If we are unable to take payments on more than one occassion, your Direct Debit plan may be canceelled and you may need to pay the amount you owe in full.</p>

      <form action="/v3-george/css-payment-dd-months" method="POST">
          {{ checkboxes({
            "idPrefix": "dd-confirmation",
            "name": "confirm",
            "values": data["confirm"],
            "fieldset": {
              "legend": {
                "text": "You must confirm the following to setup a Direct Debit online",
                "classes": "nhsuk-fieldset__legend--m",
                isPageHeading: false
              }
            },
            "errorMessage": {
              "text": errorMessageText
          },
            "items": [
              {
                "value": "bank",
                "text": "I'm using my own bank account",
                "checked": checkboxChecked
              },
              {
                "value": "person",
                "text": "I'm the only person required to authorise debits from this account",
                "checked": checkboxChecked
              },
              {
                "value": "understand",
                "text": "I understand that if you are unable to take payments on more than one occasion, I might have to pay extra charges and may not be able to pay by Direct Debit again"
              }
            ]
          }) }}

         <p>Read the <a href="#">Direct Debit guarantee</a></p>
       
         <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
           Continue
         </button>
       </form>

      <p><a href="css-view">Cancel</a></p>
   </div>
</div>

</html>
{% endblock %}