<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
 Pay by Direct Debit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
      "href": "css-payment-dd-email",
      "text": "Go back"
    }) }}

    <h1>
        Enter your bank details
    </h1>

    {{ warningCallout({
        "heading": "Important:",
        "HTML": "<p>This information must all be read out to the customer.</p>"
    }) }}

    <p>Equifax will perform a check to verify the bank account details you give us. A record of this will be left on your credit record for 12 months but will not affect your credit rating.</p>

    <form action="css-payment-dd-check-answers" method="POST">
      {{ input({
        "label": {
          "text": "Account holder's name"
        },
        "classes": "nhsuk-u-width-one-half",
        "id": "bank-name",
        "name": "bank-name"
      }) }}

      {{ input({
        "label": {
          "text": "Account number"
        },
        "classes": "nhsuk-input--width-10",
        "id": "bank-number",
        "name": "bank-number"
      }) }}

      {{ dateInput({
        "id": "sort-code",
        "namePrefix": "sort-code",
        "fieldset": {
          "legend": {
            "text": "Sort code",
            "classes": "nhsuk-label--s nhsuk-u-margin-bottom-0 nhsuk-u-font-weight-normal",
            "isPageHeading": false
          }
        },

        "items": [
          {
            "name": "sort-one",
            "classes": "nhsuk-input--width-2"
          },
          {
            "name": "sort-two",
            "classes": "nhsuk-input--width-2"
          },
          {
            "name": "sort-three",
            "classes": "nhsuk-input--width-2"
          }
        ]
      }) }}

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
          <legend class="nhsuk-fieldset__legend nhsuk-label">
            <h1 class="nhsuk-fieldset__heading" id="sort-code-label">
              Sort code
            </h1>
          </legend>
      
          <div class="nhsuk-date-input" id="example">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">           
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="text" pattern="[0-9]*" inputmode="numeric" aria-labelledby="sort-code-label">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="text" pattern="[0-9]*" inputmode="numeric" aria-labelledby="sort-code-label">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric" aria-labelledby="sort-code-label">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {{ button({
        "text": "Continue",
        "type": "submit"
      }) }}
    </form>

    <p><a href="css-view">Cancel</a></p>
  </div>
</div>
{% endblock %}