<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
 Pay by Direct Debit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
            "href": "css-payment-dd",
            "text": "Go back"
        }) }}

        {{ errorSummary({
            "titleText": "There is a problem",
            "errorList": [
                {
                "text": "Select how many months you want to pay over",
                "href": "#dd-months-1"
                }
            ]
        }) }}

        <h1>
            Select how many months you want to pay over
        </h1>

        {{ warningCallout({
            "heading": "Important:",
            "HTML": "<p>This information must all be read out to the customer.</p>"
          }) }}

        <p>Your total amount to pay is <span class="nhsuk-u-font-weight-bold">£166.40</span>. You will not be charged interest on this amount and it will not affect your credit score.</p>
        
        <form action="css-payment-dd-date" method="POST">
            {{ radios({
              "idPrefix": "dd-months-error",
              "name": "dd-months",
              "fieldset": {
                "legend": {
                  "text": "Select how many months you want to pay over",
                  "classes": "nhsuk-fieldset__legend--m",
                  "isPageHeading": true
                }
              },
              "errorMessage": {
                "text": "Select how many months you want to pay over"
            },
              "items": [
                {
                    "value": "three",
                    "text": "3 months",
                    "hint": {
                        "text": "1 Payment of £55.46 followed by 2 payments of £55.47"
                    }
                },
                {
                    "value": "six",
                    "text": "6 months",
                    "hint": {
                        "text": "1 Payment of £27.75 followed by 5 payments of £27.73"
                    }
                },
                {
                    "value": "twelve",
                    "text": "12 months",
                    "hint": {
                        "text": "1 Payment of £13.95 followed by 11 payments of £13.87"
                    }
                }
              ]
            }) }}
        
            {{ button({
                "text": "Continue",
                "type": "submit"
            }) }}
        </form>

        <p><a href="css-view">Cancel</a></p>
    </div>
</div>
{% endblock %}