<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Close record
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-one-half">
      <h1>
         Close record
      </h1>

      <div class="nhsuk-form-group">
         <label class="nhsuk-label" for="select-1">
            Reason
         </label>
         <select class="nhsuk-select" id="select-1" name="select-1">
            <option value="0" selected></option>
            <option value="1">Exemption confirmed - incorrect firstname </option>
            <option value="2">Exemption confirmed - incorrect lastname</option>
            <option value="3">Exemption confirmed - incorrect address
            <option value="4">Exemption confirmed - incorrect postode</option>
            <option value="5">Exemption confirmed - incorrect date of birth</option>
            <option value="6">Incorrect/mismatched exemption category - DWP
            <option value="7">Patient paid for prescription</option>
            <option value="8">Data capture - keying error</option>
            <option value="9">Patient deceased</option>
            <option value="10">Exemption confirmed - supported by NASS</option>
            <option value="11">Universal Credit closure</option>
            <option value="12">Dead letter office return</option>
            <option value="13">Signed declaration - paid</option>
            <option value="14">Signed declaration - not collected</option>
         </select>
      </div>

      <div class="nhsuk-form-group">
         <label class="nhsuk-label" for="example">
            Notes
         </label>
         <textarea class="nhsuk-textarea" id="message" name="message" rows="8" style="font-size:19px;" onkeyup="countChars(this);"></textarea>
         <p class="nhsuk-hint" id="charNum">You have 2000 characters remaining</p>
      </div>

      <a href="#" class="nhsuk-button" role="button">Submit</a>

      <p>
         <a href="css-view">Cancel</a>
      </p>
   </div>

   <div class="nhsuk-grid-column-one-half">
      <div class="bordered-content-box nhsuk-u-margin-bottom-6">
         <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
               <h2 class="nhsuk-heading-m  nhsuk-u-margin-bottom-0">PCN 06183129565 <span class="nhsuk-tag nhsuk-tag--green heading-tag">Open</span></h2> 
            </div>
         </div>
      </div>

      <div class="bordered-content-box nhsuk-u-margin-bottom-6">
         <dl class="nhsuk-summary-list  nhsuk-u-margin-bottom-4">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Name
              </dt>
              <dd class="nhsuk-summary-list__value">
                Joe Bloggs
              </dd>
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Address
              </dt>
              <dd class="nhsuk-summary-list__value">
               9 Hotspur Street<br>Townford<br> NE10LD
              </dd>
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Email address
              </dt>
              <dd class="nhsuk-summary-list__value">
               <p>joe.blogss@example.com</p>
              </dd>
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Telephone number
              </dt>
              <dd class="nhsuk-summary-list__value">
                <p>07700 900362</p>
                
              </dd>
          
            </div>

            <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                 Date of birth
               </dt>
               <dd class="nhsuk-summary-list__value">
                 20 November 1988
               </dd>
           
             </div>

             <div class="nhsuk-summary-list__row">
               <dt class="nhsuk-summary-list__key">
                 NHS number
               </dt>
               <dd class="nhsuk-summary-list__value">
                  23141986
               </dd>
           
             </div>
          
          </dl>
      </div>

      <div class="nhsuk-grid-row">
         <div class="nhsuk-grid-column-full">
            <div class="nhsuk-tabs" data-module="nhsuk-tabs">
               <ul class="nhsuk-tabs__list">
            
               <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                  <a class="nhsuk-tabs__tab" href="#costs">
                     Costs
                  </a>
               </li>
            
               <li class="nhsuk-tabs__list-item">
                  <a class="nhsuk-tabs__tab" href="#dates">
                     Dates
                  </a>
               </li>
            
               <li class="nhsuk-tabs__list-item">
                  <a class="nhsuk-tabs__tab" href="#other">
                     Other
                  </a>
               </li>
               </ul>
            
               <div class="nhsuk-tabs__panel" id="costs">
                  <dl class="nhsuk-summary-list">
                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Prescription cost
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        £26.40
                     </dd>
                     </div>
                  
                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Penalty charge
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        £100.00
                     </dd>
                  
                     </div>
                  
                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Surcharge
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        £50.00
                     </dd>
                  
                     </div>
                  
                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Total charge
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        <p>£176.40</p>
                     </dd>
                  
                     </div>

                     <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                        Paid
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                        <p>£10.00</p>
                        </dd>
                  
                     </div>

                     <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                        Balance remaining
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                        <p class="nhsuk-u-font-weight-bold">£166.40</p>
                        </dd>
                  
                     </div>
                  
                  </dl>
               </div>
            
               <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="dates">
                  <dl class="nhsuk-summary-list">
                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Prescribed on
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        29/05/18
                     </dd>
                     </div>

                     <div class="nhsuk-summary-list__row">

                  

                     <dt class="nhsuk-summary-list__key">
                        Dispensed month end date
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        30/06/18
                     </dd>
                  </div>

                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Enquiry sent
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        Not sent
                     </dd>
                     </div>
                  
                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        PCN sent
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        10/09/18
                     </dd>
                     </div>
                  
                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Surcharge sent
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        <p>10/10/18</p>
                     </dd>
                     </div>

                     <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                        Respond by
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                        07/11/18
                     </div>
                  </dl>
               </div>
            
               <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="other">
                  <dl class="nhsuk-summary-list">
                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Prescription items
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        3
                     </dd>
                     </div>

                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Exemption
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        (M) Has valid NHS Tax Credit Exemption Certificate
                     </dd>
                     </div>
                  
                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        DWP checked
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        Yes
                     </dd>
                     </div>
                  
                     <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Source
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        Electronic
                     </dd>
                     </div>

                     <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                        Dispenser
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                           <p>FMMMM</p>
                        </dd>
                     </div>


                     <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                           Evidence not seen?
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                           No
                        </dd>
                     </div>
                  </dl>
               </div>
            </div>
         </div>
      </div>

      <div class="nhsuk-grid-row">
         <div class="nhsuk-grid-column-full">
            <div class="nhsuk-tabs nhsuk-u-margin-bottom-0" data-module="nhsuk-tabs">                
               <ul class="nhsuk-tabs__list">
                  <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                     <a class="nhsuk-tabs__tab" href="#notes">
                     Notes
                     </a>
                  </li>
               
                  <li class="nhsuk-tabs__list-item">
                     <a class="nhsuk-tabs__tab" href="#transactions">
                     Transactions
                     </a>
                  </li>
               </ul>
               
               <div class="nhsuk-tabs__panel" id="notes">
                  <table  role="table">
                     <thead>
                        <tr>
                           <th class="nhsuk-u-font-weight-bold">Date</th>
                           <th class="nhsuk-u-font-weight-bold">Agent</th>
                           <th class="nhsuk-u-font-weight-bold">Comments</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>27/07/17 13.00</td>
                           <td>TIM</td>
                           <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                        </tr>
                        <tr>
                           <td>27/07/17 13.30</td>
                           <td>JOANNE</td>
                           <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                        </tr>
                        <tr>
                           <td>27/07/17 13.00</td>
                           <td>TIM</td>
                           <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                        </tr>
                        <tr>
                           <td>27/07/17 13.30</td>
                           <td>JOANNE</td>
                           <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                        </tr>
                        <tr>
                           <td>27/07/17 13.30</td>
                           <td>JOANNE</td>
                           <td>IINFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                        </tr>
                        <tr>
                           <td>27/07/17 13.30</td>
                           <td>JOANNE</td>
                           <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               
               <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="transactions">             
                  <table>
                     <thead>
                        <tr>
                           <th>Date</th>
                           <th>User</th>
                           <th>Amount</th>
                           <th>For</th>
                           <th>Type</th>
                         
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>31/07/17 15.45</td>
                           <td>System</td>
                           <td>-£8.60</td>
                           <td>Adjustment</td>
                           <td>Direct Debit</td>
                        </tr>
                        <tr>
                           <td>30/07/17 15.45</td>
                           <td>System</td>
                           <td>£8.60</td>
                           <td>PCN</td>
                           <td>Direct Debit</td>
                        </tr>
                        <tr>
                           <td>27/07/17 13.30</td>
                           <td>System</td>
                           <td>£51.00</td>
                           <td>PCN</td>
                           <td>Cheque</td>
                        </tr>
                        <tr>
                           <td>27/07/17 13.30</td>
                           <td>System</td>
                           <td>-£51.00</td>
                           <td>Surcharge</td>
                           <td>Surcharge added</td>
                        </tr>
                        <tr>
                           <td>27/07/17 13.30</td>
                           <td>System</td>
                           <td>£58.60</td>
                           <td>PCN</td>
                           <td>Payment request</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   var maxLength = 375;
   $('textarea').keyup(function () {
      var length = $(this).val().length;
      var length = maxLength - length;
      $('#chars').text(length);
   });
</script>

</html>
{% endblock %}