<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->
 
<!-- Set the page title -->
{% block pageTitle %}
View PCN
{% endblock %}
 
<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
 
<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                    <li class="nhsuk-secondary-navigation__item">
                        <a class="nhsuk-secondary-navigation__link" aria-current="page" href="manager-login">Random sample</a>
                      </li>
                     <li class="nhsuk-secondary-navigation__item">
                        <a class="nhsuk-secondary-navigation__link" href="data-entry">Data entry</a>
                      </li>
                     <li class="nhsuk-secondary-navigation__item">
                        <a class="nhsuk-secondary-navigation__link" href="data-entry-stats">Stats</a>
                     </li>
 
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
 
<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}
 
<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
 
 
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">

          <h2 class="nhsuk-u-margin-left-6">
            Random Sample Check
        </h2>
        <p class="nhsuk-u-margin-left-6">Complete all of the input fields below to continue.</p>

        <div class="nhsuk-form-group nhsuk-u-margin-left-6">
          <label class="nhsuk-label--s nhsuk-u-margin-bottom-2" for="input-width-10">
            User ID
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group nhsuk-u-margin-left-6">
          <label class="nhsuk-label--s nhsuk-u-margin-bottom-2" for="input-width-10">
            Processing period
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group nhsuk-u-margin-left-6">
          <label class="nhsuk-label--s nhsuk-u-margin-bottom-2" for="input-width-5">
            Sample size
          </label>
          <input class="nhsuk-input nhsuk-input--width-5" id="input-width-5" name="test-width-5" type="text">
        </div> 
      
        <a href="random-sample" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-left-6" type="submit">Submit</a>

      <a href="manager-login" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-4 nhsuk-u-margin-left-6" type="submit">Reset</a>
      </div>


    
      
     
      
      
      
  
         


      
    </div>
  </div>                                                
        
{% endblock %}