<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
PCN Search
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-secondary-navigation__container">
        <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="search">Reports</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-secondary="page" href="data-entry">Data entry</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-secondary="page" href="data-entry-stats">Stats</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Change the page heading -->
    <h1>
      PCN Search
    </h1>

    <div class="nhsbsa-search-box">
      <div class="grid-row">
        <div class="nhsuk-grid-column-one-third">
          <span class="nhsuk-label form-label">Reference number</span>
          <div class="form-group">
            <input class="nhsuk-input form-control" id="reference-number" name="first-name-2" type="text">
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <span class="nhsuk-label form-label">First name</span>
          <div class="form-group">
            <input class="nhsuk-input form-control" id="reference-number" name="first-name-2" type="text">
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <span class="nhsuk-label form-label">Last name</span>
          <div class="form-group">
            <input class="nhsuk-input form-control" id="reference-number" name="first-name-2" type="text">
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <span class="nhsuk-label form-label nhsuk-u-margin-top-4">Date of birth</span>
          <div class="form-group">
            <input class="nhsuk-input form-control" id="reference-number" name="first-name-2" type="text">
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <span class="nhsuk-label form-label nhsuk-u-margin-top-4">Postcode</span>
          <div class="form-group">
            <input class="nhsuk-input form-control" id="reference-number" name="first-name-2" type="text">
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="form-group nhsuk-u-margin-top-3">
            <a class="nhsuk-button nhsuk-u-margin-right-2" href="search-results" role="button">Search</a>
            <a class="nhsuk-button nhsuk-button--secondary" href="#" role="button">
              Reset
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}