<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Direct Debit completed
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <div class="nhsuk-secondary-navigation__container">
            <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
               <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                  <ul class="nhsuk-secondary-navigation__list">
                     <li class="nhsuk-secondary-navigation__item">
                        <br><br>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <h1 class="nhsuk-u-margin-bottom-4">
            Direct Debit completed
        </h1>

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                All information below must be read out to the customer.
          
              </h3>
              
          
            </div>
          </div>

        <h3>A Direct Debit has now been set up to pay the Penalty Charge</h3>

        <p>Confirmation of the instruction will be sent to you in 3 working days, or be received to you by no later than 10 working days before the first collection.</p>

        <h3>First payment</h3>

        <p>Your first payment of £10.00 will be taken on or just after 20 April 2023.</p>

        <h3>Next payment</h3>
        <p>Your next payment of £11.37 will be taken on or just after 01 March 2023.</p>
        <p>As long as you keep up payments there will be no further changes added to your account.</p>

        <h3>How to avoid a Penalty Charge Notice</h3>

        <p>We match exemptions using a combination of you:</p>
        <ul>
            <li>name</li>
            <li>address</li>
            <li>date of birth</li>
            <li>NHS number</li>
        </ul>

        <p>Make sure these are correct at your GP surgery, dental practice and any benefits organisations.</p>
        <p>If any of your details are not up to date, you may receive another Penalty Charge Notice in the future.</p>

        <a href="/v4/view-pcn" class="nhsuk-button" type="submit">Finish</a>
    </div>

    <div class="nhsuk-grid-column-one-half">
        <div class="border-box">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h1 class="nhsuk-heading-m">PCN 06183129565: Open</h1>
                </div>
            </div>
    
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescription</h2>
                    <p>£26.40</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Enquiry sent</h2>
                    <p>not sent</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Items</h2>
                    <p>3</p>
                </div>
            </div>
    
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Penalty</h2>
                    <p>£100.00</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">PCN sent</h2>
                    <p>10/09/18</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Prescribed date</h2>
                    <p>29/05/18</p>
                </div>
            </div>
    
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge</h2>
                    <p>£50.00</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Surcharge sent</h2>
                    <p>10/10/18</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispensed month end date</h2>
                    <p>30/06/18</p>
                </div>
            </div>
    
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Requested</h2>
                    <p>£176.40</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Respond by</h2>
                    <p>07/11/18</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Exemption</h2>
                    <p>(M) Has valid NHS Tax Credit Exemption Certificate</p>
                </div>
            </div>
    
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Paid</h2>
                    <p>£10.00</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">DWP checked</h2>
                    <p>Yes</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Source</h2>
                    <p>Electronic</p>
                </div>
            </div>
    
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Balance due</h2>
                    <p>£166.40</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Dispenser</h2>
                    <p>FMMMM</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Evidence not seen?</h2>
                    <p>No</p>
                </div>
                <div class="nhsuk-grid-column-full">
                    <div class="container">
                       <ul class="tabs1">
                          <li class="tab-link current1" data-tab1="tab-2">Notes</li>
                          <li class="tab-link" data-tab1="tab-1">Transactions</li>
                       </ul>
        
                       <!-- NOTES -->
                       <div id="tab-1" class="tab1-content">
                          <table class="internal-table">
                             <thead>
                                <tr>
                                   <th>Date</th>
                                   <th>User</th>
                                   <th>Amount</th>
                                   <th>For</th>
                                   <th>Type</th>
                                   
                                </tr>
                             </thead>
                             <tbody>
                                <tr>
                                   <td>31/07/17 15.45</td>
                                   <td>System</td>
                                   <td>-£8.60</td>
                                   <td>Adjustment</td>
                                   <td>Direct Debit</td>
                                   
                                </tr>
                                <tr>
                                   <td>30/07/17 15.45</td>
                                   <td>System</td>
                                   <td>£8.60</td>
                                   <td>PCN</td>
                                   <td>Direct Debit</td>
                                   
                                </tr>
                                <tr>
                                   <td>27/07/17 13.30</td>
                                   <td>System</td>
                                   <td>£51.00</td>
                                   <td>PCN</td>
                                   <td>Cheque</td>
                                   
                                </tr>
                                <tr>
                                   <td>27/07/17 13.30</td>
                                   <td>System</td>
                                   <td>-£51.00</td>
                                   <td>Surcharge</td>
                                   <td>Surcharge added</td>
                                   
                                </tr>
                                <tr>
                                   <td>27/07/17 13.30</td>
                                   <td>System</td>
                                   <td>£58.60</td>
                                   <td>PCN</td>
                                   <td>Payment request</td>
                                   
                                </tr>
                             </tbody>
                          </table>
                       </div>
        
                       <!-- TRANSACTIONS -->
                       <div id="tab-2" class="tab1-content current1">
                          <table>
                             <thead>
                                <tr>
        
                                      <th>Date</th>
                                      <th>Agent</th>
                                      <th>Comments</th>
        
                                </tr>
                             </thead>
        
                             <tbody>
                                <tr>
                                   <td>27/07/2017 13.00</td>
                                   <td>Tim</td>
                                   <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                                </tr>
                                <tr>
                                   <td>27/07/2017 13.30</td>
                                   <td>Joanne</td>
                                   <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                                </tr>
                                <tr>
                                   <td>27/07/2017 13.00</td>
                                   <td>Tim</td>
                                   <td>CUST TOLD TO PAY HALF TO AVOID SURCHARGE. CUST NON COMPLIANT, DEMANDED MANAGER. CALL ESCALATED</td>
                                </tr>
                                <tr>
                                   <td>27/07/2017 13.30</td>
                                   <td>Joanne</td>
                                   <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                                </tr>
                                <tr>
                                   <td>27/07/2017 13.30</td>
                                   <td>Joanne</td>
                                   <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                                </tr>
                                <tr>
                                   <td>27/07/2017 13.30</td>
                                   <td>Joanne</td>
                                   <td>INFO REPEATED AS ABOVE. CUST PAID HALF, AGREED TO PAY NEXT HALF BY 27/08/17</td>
                                </tr>
        
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
{% endblock %}