<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-secondary-navigation__container">
        <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="test-screen">Back</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="/me-journey/open-cases">
                </a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="/me-journey/closed-cases"></a>
              </li>
              <!-- <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
              </li>
              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
              </li> -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Add payment</h1>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-u-font-weight-bold" for="input-width-20">Balance due</label>
      <span style="font-size:19px;">£</span> <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-u-font-weight-bold" for="input-width-20">Amount to pay</label>
      <span style="font-size:19px;">£</span> <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
    </div>
    
    <a href="applicant-view-personal-details"><button class="nhsuk-button" type="submit">Save and continue</button></a>
    
    <p class="nhsuk-u-margin-top-0"><a href="home">Cancel</a></p>
  </div>
</div>

            
      


      
 

  
{% endblock %}