<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
NHS.UK TECS Single User View
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

{% block signout %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Single User View 1.5</h1>

        <hr>

        <h2>SUV (Single User View) Used in contact centre by agents.</h2>

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h3 class="nhsuk-card__heading">
                    SUV Re-design
                </h3>

                <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">Version 1</span>
                    </summary>

                    <div class="nhsuk-details__text">
                        <p>
                            As per the business process, a new re-design of SUV is required to allow for an improved accessibe version
                            under the new NHS Toolkit.
                        </p>

                        <p>
                            Presently, the SUV system has various funtions that all appear in a pop-up window which is not considered accessible.
                        </p>
                        <p>
                            This prototype explores the function of a pop-up function removed and replaced by a seperate page function.
                        </p>

                        <h2>Page List</h2>

                        <p>
                            There is an <a href="/v1/individual-page-list">individual page list</a>, which contains each individual SUV page.
                        </p>

                        <hr>

                        <h2>
                            Prototype Journeys
                        </h2>

                        <p>
                            There is a <a href="/v1/journey-page">journey page list</a>, which contains the Version 1 SUV journey.
                        </p>
                    </div>
                </details> <!-- End version 1 -->

                <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">Version 2</span>
                    </summary>

                    <div class="nhsuk-details__text">
                        <p>
                            As per the business process, a new re-design of SUV is required to allow for an improved accessibe version under the new NHS Toolkit.
                        </p>
                        <p>
                            Presently, the SUV system has various funtions that all appear in a pop-up window which is not considered accessible.
                        </p>

                        <p>This prototype explores the function of a pop-up function removed and replaced by a seperate page function whilst allowing the user the ability to still see any PCN infomation.</p>

                        <h2>
                            Page List
                        </h2>

                        <p>
                            There is an <a href="/v2/individual-page-list">individual page list</a>, which contains each individual SUV page.
                        </p>

                        <hr>

                        <h2>
                            Prototype Journeys
                        </h2>

                        <p>
                            There is a <a href="/v2/search-page-no-tracker">CSS User New Page Function and PCN View PECS</a>, which contains the Version 1 SUV journey.
                        </p>

                        <p>
                            There is a <a href="/v2/css-pcn-view-dental">CSS User New Page Function and PCN View DECS</a>, which contains the Version 1 SUV journey.
                        </p>

                        <p>
                            There is a <a href="/v2/css-pcn-backend">Back End View with PCN PECS Info</a>, which contains all patient info and links to all CCS user functions.
                        </p>

                        <p>
                            There is a <a href="/v2/css-pcn-view-extend-unlock">CSS View with Extend, unlock and close</a>, which contains all patient info and links to all CCS user functions.
                        </p>
                    </div>
                </details> <!-- End version 2 -->

                <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">Version 3</span>
                    </summary>

                    <div class="nhsuk-details__text">
                        <p class="nhsuk-u-margin-bottom-0">
                            In this version of the prototype we are looking at adding a Direct Debit journey, refund note and flagging a vulnerable customer.
                        </p>

                        <h2>
                            Prototype Journeys
                        </h2>

                        <p>
                            Link to go here.    
                        </p>
                    </div>
                </details> <!-- End version 3 -->

                <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-4">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">Version 3 - George</span>
                    </summary>

                    <div class="nhsuk-details__text">
                        <p class="nhsuk-u-margin-bottom-0">In this version of the prototype we are looking at existing features we can amend, new features to consider and a hypothetical Direct Debit journey.</p>
                        
                        <h2>
                            Prototype Journey
                        </h2>

                        <p>
                            <a href="/v3-george/css-search">Direct Debit journey</a>, where a CSS user is starting from search. This journey also contains new design tweaks.
                        </p>
                    </div>
                </details> <!-- End version 3 George -->
               
                <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-4">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">Version 3 - Iona edit</span>
                    </summary>

                    <div class="nhsuk-details__text">
                        <p class="nhsuk-u-margin-bottom-0">In this version of the prototype we are looking at existing features we can amend, new features to consider and a hypothetical Direct Debit journey.</p>
                        
                        <h2>
                            Prototype Journey
                        </h2>

                        <p>
                            <a href="/v3-iona/pcn-search">Direct Debit journey</a>, starting from search which contains multiple design tweaks.
                        </p>
                    </div>
                </details> <!-- End version 3 Iona -->

                <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">Adhoc screens</span>
                    </summary>
                
                    <div class="nhsuk-details__text">
                        <p>In this section we will provide the adhoc screens for the SUV prototype which will include screens such as error pages, done pages, kickout pages etc.</p>
                        
                        <table class="nhsuk-table">
                            <caption class="nhsuk-table__caption">Error messages</caption>
                            <thead role="rowgroup" class="nhsuk-table__head">
                              <tr role="row">
                                <th role="columnheader" class="" scope="col">
                                  Page title
                                </th>
                                <th role="columnheader" class="" scope="col">
                                  URL
                                </th>
                              </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Add payment</td>
                                <td class="nhsuk-table__cell "><a href="/v3-iona/Error-messages/add-payment-error">Payment method radio error</a></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Set up DD checkbox</td>
                                <td class="nhsuk-table__cell "><a href="/v3-iona/Error-messages/pay-pcn-DD-start-error">DD checkbox error</a></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Set up DD monthly options</td>
                                <td class="nhsuk-table__cell "><a href="/v3-iona/Error-messages/pay-pcn-DD-monthly-options-error">Monthly options radios error</a></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Select a Date for DD</td>
                                <td class="nhsuk-table__cell "><a href="/v3-iona/Error-messages/pay-pcn-DD-dates-error">Select date input field error</a></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Address correct</td>
                                <td class="nhsuk-table__cell "><a href="/v3-iona/Error-messages/pay-pcn-DD-address-error">Address confirmation radio error</a></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Bank details</td>
                                <td class="nhsuk-table__cell "><a href="/v3-iona/Error-messages/pay-pcn-DD-bank-details-error">Bank details fieldset error</a></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Confirm and submit to DD terms</td>
                                <td class="nhsuk-table__cell "><a href="/v3-iona/Error-messages/pay-pcn-DD-confirm-error">Confirm and submit checkbox error</a></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>

                    <table class="nhsuk-table">
                        <caption class="nhsuk-table__caption">Kickout pages</caption>
                        <thead role="rowgroup" class="nhsuk-table__head">
                          <tr role="row">
                            <th role="columnheader" class="" scope="col">
                              Page title
                            </th>
                            <th role="columnheader" class="" scope="col">
                              URL
                            </th>
                          </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                          <tr role="row" class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">We cannot verify your details</td>
                            <td class="nhsuk-table__cell "><a href="/v3-iona/kickout/pay-pcn-DD-cannot-verify-details">Cannot verify DD details</a></td>
                          </tr>
                          <tr role="row" class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">We cannot set up your DD</td>
                            <td class="nhsuk-table__cell "><a href="/v3-iona/kickout/pay-pcn-DD-cannot-setup">Cannot set up DD</a></td>
                          </tr>
                          
                          
                          
                        </tbody>
                    </table>
                </div>
                </details> <!-- End adhoc -->
            </div>
        </div>
    </div>
</div>

{% endblock %}