<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}
{% set containerClasses = "nhsuk-width-container-fluid" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/assets/sass/main.css" rel="stylesheet">
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    service: {
      text: serviceName,
      href: "/"
    },
  containerClasses: 'nhsuk-width-container-fluid'
  }) }}
{% endblock %}

{% block signout %}
<a href="#" class="sign-out-link">Sign out</a>
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    meta: {
      items: [
        {
           href: 'https://nhsbsauk.sharepoint.com/sites/Accessibility/SitePages/Accessibility-statement-for-Single-User-View.aspx',
        text: 'Accessibility'
        },
        {
          href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
          text: "Reset data"
        }
      ]
    },
  containerClasses: 'nhsuk-width-container-fluid'
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/application.js"></script>
   <script>

    // Function to set the height of the div
    function setDivHeight() {
      var leftDiv = document.getElementById('leftHandSide');
      var rightDiv = document.getElementById('rightHandSide');
      var windowHeight = window.innerHeight;

      if (leftDiv) {
        leftDiv.style.height = (windowHeight + 270) + 'px';
      }
      rightDiv.style.height = (windowHeight + 270) + 'px';
    }

    // Call the function when the window is resized
    window.onresize = setDivHeight;

    // Call the function initially to set the height when the page loads
    setDivHeight();

  </script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
