<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-secondary-navigation__container">
        <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="/page-list">Reports</a>
              </li>
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="/tracker">Tracker
                </a>
              </li>
         
              </li>
              <!-- <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
              </li>
              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
              </li> -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

        <!-- Change the page heading -->
        <h1>
            PCN Search
        </h1>

        <!-- ==================================================================================== -->
        <!-- SEARCH BOX -->
        <!-- ==================================================================================== -->
        <div id="search">
            <div class="grid-row">
                <div class="nhsuk-grid-column-one-third">
                    <span class="nhsuk-label form-label">Reference number</span>
                    <div class="form-group">
                        <input class="nhsuk-input form-control" id="reference-number" name="first-name-2" type="text">
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-third">
                    <span class="nhsuk-label form-label">First name</span>
                    <div class="form-group">
                        <input class="nhsuk-input form-control" id="reference-number" name="first-name-2" type="text">
                    </div>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <span class="nhsuk-label form-label">Last name</span>
                    <div class="form-group">
                        <input class="nhsuk-input form-control" id="reference-number" name="first-name-2" type="text">
                    </div>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <span class="nhsuk-label form-label nhsuk-u-margin-top-4">Date of birth</span>
                    <div class="form-group">
                        <input class="nhsuk-input form-control" id="reference-number" name="first-name-2" type="text">
                    </div>
                </div>
                <div class="nhsuk-grid-column-one-third">
                    <span class="nhsuk-label form-label nhsuk-u-margin-top-4">Postcode</span>
                    <div class="form-group">
                        <input class="nhsuk-input form-control" id="reference-number" name="first-name-2" type="text">
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="form-group nhsuk-u-margin-top-3"> 
                        <a class="nhsuk-button" id="test-screen" href="css-pcn-view-extend-unlock" role="button">Search</a> &nbsp; &nbsp;&nbsp;&nbsp;<button class="nhsuk-button nhsuk-button--secondary" type="submit">
                          Reset
                          
                        
            
                         
            </div>
        </div>
        <!-- ==================================================================================== -->
        <!-- END OF SEARCH BOX -->
        <!-- ==================================================================================== -->


       
        <!-- End of content -->

    </div>

</div>
{% endblock %}