<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: ""
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<h1>
  Page List
  
  <h2 class="app-side-nav__heading">CSS Lock and Tracker Call Handler View Iteration 2 </h2>
<p>
 1) <a href="/search-page"> Search </a>which contains SUV search page.
</p>

<p>
  2) <a href="/page-list"> Reports</a>, which contains SUV search and Reports results page.
</p>
 <p>
   3) <a href="note-pcn-info">Note and PCN info view</a>, which contains note fuction and view of PCN info
  </p>
  <p>    
   4) <a href="note-pcn">Note and PCN info view</a>, which contains note fuction and view of PCN info
  </p>
  <p>  
    5) <a href="close-pcn">Close and PCN View </a>, which contains close fuction and view of PCN info
  </p>
  <p>   
    6) <a href="lock-pcn">Lock and PCN View </a>, which contains lock fuction and view of PCN info
  </p>
  <p>    
    7) <a href="easement-pcn">Easement and PCN View </a>, which contains easement fuction and view of PCN info
  </p>
  <p>  
    8) <a href="easement-surcharge">Easement and Surcharge View </a>, which contains easement surcharge fuction and view of PCN info
  </p>
  <p>  
   9) <a href="css-pcn-view">CSS View with PCN Extra View </a>, which contains all patient info and links to all CCS user functions
  </p>
  <p>  
    10) <a href="pay-pcn">Add payment with PCN View </a>, which contains pay fuction and view of PCN info
  </p>
  <p>  
    11) <a href="dispenser">Dispenser details </a>, which contains dispenser information and view of PCN info
  </p>
  <p>  
    12) <a href="css-pcn-view-note">Note added  </a> to show user note has added
  </p>
  <p>  
    13) <a href="lock-pcn-backend">Lock added back end  </a> to show user note has added
  </p>
  <p> 
    14) <a href="note-pcn-backend">Note added back end  </a> to show user note has added
  </p>
  <p> 
    15) <a href="close-pcn-backend">Close added back end  </a> 
  </p>
  <p> 
    16) <a href="add-payment-backend">Payment added back end  </a> t
  </p>
  <p> 
    17) <a href="easement-backend">Easement added back end  </a> 
  </p>
  <p> 
    18) <a href="add-failed-payment-backend">Add failed payment back end  </a> 
  </p>
  <p> 
    19) <a href="refund-payment-backend">Refund payment back end  </a> 
  </p>
  <p> 
    20) <a href="balance-transfer-backend">Balance transfer back end  </a> 
  </p>
  <p> 
    22) <a href="edit-payment-backend">Edit payment back end  </a> 
  </p>
  <p> 
    22) <a href="dispenser-backend">Dispencer back end  </a> 
  </p>
  <p> 
    <h2 class="app-side-nav__heading">CSS Lock and Tracker Back Office View Iteration 2 </h2>

    1) <a href="test-screen-back-end">Back end users function (not available to CCS staff)</a>, which contains all info on back end function
  
  </p>
  <p> 
    2) <a href="css-pcn-backend">Back End View with PCN Info </a>, which contains all patient info and links to all CCS user functions    
{% endblock %}
 