<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: ""
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <h1>Page List</h1>
  
  <h2 class="app-side-nav__heading">Call Handler View Iteration 2</h2>

  <p>1) <a href="/search-page">Search Tracker</a>, which contains SUV search page (Hooked to tracker only).</p>
  <p>1) <a href="/search-page-no-tracker">Search no Tracker</a>, which contains SUV search page (Hooked to tracker only).</p>
  <p>2) <a href="/page-list">Reports</a>, which contains SUV search and Reports results page.</p>
  <p>3) <a href="note-pcn-info">Note and PCN info view</a>, which contains note fuction and view of PCN info</p>
  <p>4) <a href="note-pcn">Note and PCN info view</a>, which contains note fuction and view of PCN info</p>
  <p>5) <a href="close-pcn">Close and PCN View</a>, which contains close fuction and view of PCN info</p>
  <p>6) <a href="lock-pcn">Lock and PCN View</a>, which contains lock fuction and view of PCN info</p>
  <p>7) <a href="easement-pcn">Easement and PCN View</a>, which contains easement fuction and view of PCN info</p>
  <p>8) <a href="test-screen-back-end">Back end users function first draft</a>, which contains all info on back end function</p>
  <p>9) <a href="easement-surcharge">Easement and Surcharge View</a>, which contains easement surcharge fuction and view of PCN info</p>
  <p>10) <a href="pay-pcn">Add payment with PCN View</a>, which contains pay fuction and view of PCN info</p>
  <p>11) <a href="dispenser">Dispenser details</a>, which contains dispenser information and view of PCN info</p>
  <p>12) <a href="css-pcn-view-note">Note added</a> to show user note has added</p>
  <p>13) <a href="lock-pcn-backend">Lock added back end</a> to show user note has added</p>
  <p>14) <a href="note-pcn-backend">Note added back end</a> to show user note has added</p>
  <p>15) <a href="close-pcn-backend">Close added back end</a></p>
  <p>16) <a href="add-payment-backend">Payment added back end</a></p>
  <p>17) <a href="easement-backend">Easement added back end</a></p>
  <p>18) <a href="add-failed-payment-backend">Add failed payment back end</a></p>
  <p>19) <a href="refund-payment-backend">Refund payment back end</a></p>
  <p>20) <a href="balance-transfer-backend">Balance transfer back end</a></p>
  <p>21) <a href="edit-payment-backend">Edit payment back end</a></p>
  <p>22) <a href="dispenser-backend">Dispencer back end</a></p>
  <p>23) <a href="prescription-image">Prescription image</a></p>
  <p>24) <a href="prescription-image-2">Prescription image back-end</a></p>
   
  <h2 class="app-side-nav__heading">Call Handler View Lock and Tracker</h2>
  <p>1) <a href="lock-pcn-tracker">Lock, added drop down and option to no add to tracker</a></p>
  <p>2) <a href="lock-pcn-tracker-backend">Lock, added drop down and option to no add to tracker backend</a></p>
  <p>3) <a href="/tracker">Tracker</a>, which contains all info linked to locked cases.</p>
  <p>3) <a href="/tracker-pecs">PECS Tracker</a>, which contains all info linked to locked  PECS cases.</p>
  <p>4) <a href="/tracker-decs">DECS Tracker</a>, which contains all info linked to locked  PECS cases.</p>
  <p>5) <a href="/remove-warning">Remove from tracker warning</a>, which contains all info linked to locked  PECS cases.</p>
  <p>6) <a href="/remove-confirmed">Remove from tracker confrimation</a>, which contains all info linked to locked  PECS cases.</p>
  <p>7) <a href="/remove-warning-note">Remove from tracker confrimation plus note</a>, which contains all info linked to locked  PECS cases.</p>
  <p>8) <a href="css-pcn-view-tracker">CSS SUV with Lock and Tracker</a>, which contains all patient info and links to all CCS user functions</p>
  <p>9) <a href="login">Login to SUV</a></p>
  <p>10) <a href="search-page-error-1">Search Error 1</a></p>
  <p>11) <a href="search-page-error-2">Search Error 2</a></p>
  <p>12) <a href="css-pcn-view-extend-unlock">CSS view with extend and lock</a></p>
  <p>13) <a href="lock-pcn-extend-lock">Extend lock page</a></p>
  <p>14) <a href="lock-pcn-unlock">Unlock</a></p>
  <p>15) <a href="search-page-extend">Search to unlock and extend view</a></p>
  <p>16) <a href="close-pcn-extend">Close to unlock and extend view</a></p>
  <p>17) <a href="lock-pcn-reopen">Reopen PCN</a></p>
    
  <h2 class="app-side-nav__heading">CSS and Back Office View Iteration 2 </h2>
  <p>1) <a href="css-pcn-view">CSS View with PCN Extra View </a>, which contains all patient info and links to all CCS user functions</p>
  <p>2) <a href="css-pcn-view-2-test">Back End View for extra SUV page in test </a>, which contains all patient info and links to all CCS user functions</p>
  <p>3) <a href="css-pcn-backend">Back End View with PCN Info </a>, which contains all patient info and links to all CCS user functions</p>
  <p>4) <a href="css-pcn-view-extend-unlock"> CSS view with extend and lock </a> extra SUV paige to unlock and extend</p>
  <p>5) <a href="css-pcn-view-closed"> CSS view closed </a> extra SUV paige to unlock and extend</p>
  <p>6) <a href="token"> CSS view token  </a> Payment token</p>
  <p>7) <a href="note-pcn-extend"> CSS view note on extend, lock and close  </a> Payment token</p>
  <p>8) <a href="pay-pcn-extend"> CSS view pay on extend, lock and close  </a> Payment token</p>
  <p>9) <a href="easement-surcharge-extend"> CSS view add easement on extend, lock and close  </a> Payment token</p>
  <p>10) <a href="add-payment-cheque"> Backend add cheque payment</P>
  <p>11) <a href="edit-refund"> Edit refund</P>
  <p>12) <a href="edit-failed-payment"> Edit failed payment</P>
  <p>13) <a href="note-pcn-info"> CSS and Back end view - Create Note </a> With character count and error message</P>
  
  <h2 class="app-side-nav__heading">CSS and Back Office Lock Case and Tracker</h2>
  <p>1) <a href="search-page">CSS View with full Lock and Tracker journey </a>, which contains all patient info and links to all CCS user functions</p>

  <h2 class="app-side-nav__heading">CSS and Back Office Error Messages</h2>
  <p>1) <a href="add-payment-backend-error"> Add payment error, cheque date, payment amount </a> Backend SUV</p>
  <p>2) <a href="add-payment-backend-error-2"> Add payment error cheque </a> Backend SUV</p>
  <p>3) <a href="add-payment-backend-error-3"> Add payment error bank transfer </a> Backend SUV</p>
  <p>4) <a href="add-payment-backend-error-4"> Add failed payment </a> Backend SUV</p>
  <p>5) <a href="add-payment-backend-error-5"> Refund payment </a> cheque number, cheque date, payment amount</p>
  <p>6) <a href="add-payment-backend-error-6"> Refund payment </a> amount can not be greater than the paid amount</p>
  <p>7) <a href="balance-transfer-error"> Balance transfer error PCN number and amount to transfer </a> amount can not be greater than the paid amount</p>
  <p>8) <a href="balance-transfer-error-2"> Balance transfer error PCN number and transfer cannot be done between PECS/DECS/BECS</a> amount can not be greater than the paid amount</p>
  <p>9) <a href="balance-transfer-error-3"> Balance transfer error PCN </a>Invalid PCN number</p>
  <p>10) <a href="edit-payment-error"> Edit payment error</a>Invalid amount</p>
  <p>11) <a href="edit-failed-payment-error"> Edit failed payment Error </a>Invalid amount</p>
  <p>12) <a href="note-pcn-error"> Create note error - Characters </a> Too many characters entered upon submit</p>
 
{% endblock %}
 