<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: ""
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<h1>
  Page List
  
<h2 class="app-side-nav__heading">CSS Lock and Tracker</h2>
<p>
 1)<a href="/search-page"> Search </a>which contains SUV search page.
</p>

<p>
 2)<a href="/page-list"> Search Results</a>, which contains SUV search and Reports results page.
</p>
 <p>
  2)<a href="/test-screen"> test screen</a>, which contains tests for code
 </p>
 <p>
  2)<a href="/note-page"> Note Page</a>, which contains all info linked to that customer.
 </p>
 <p>
  <p>
    2)<a href="/add-easement"> Easement Page</a>, which contains all info linked to that customer.
   </p>
   <p>        
    <p>
      2)<a href="/add-payment"> Payment Page</a>, which contains all info linked to that customer.
     </p>
     <p>           
        
          
     
     
       
{% endblock %}
